<a href="https://colab.research.google.com/github/KleverGH/DATA_MINING/blob/main/ANALISIS_EMPLEO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [283]:
import pandas as pd

In [284]:
#filename = "Enaho01a-2022-500.csv"
#df = pd.read_csv(filename, sep=',', encoding='ISO-8859-1', low_memory=False)
#df.head()

In [285]:
#df.shape

In [286]:
# Determinar las columnas que se desean modificar
#columnas_a_modificar = df.columns[19:-2]  # desde la 18 hasta la trasante-penúltima

# Reemplazar en esas columnas los valores no deseados por cadenas en blanco
#for col in columnas_a_modificar:
    #df[col] = df[col].replace(['.', '?'], '', regex=False)

In [287]:
#df.to_csv('Empleo_e_ingresos.csv', encoding='ISO-8859-1', index=False)

In [288]:
filename = "Empleo_e_ingresos.csv"
df1 = pd.read_csv(filename, sep=',', encoding='ISO-8859-1', low_memory=False)
df1.head(10)

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I538E1,I5294B,I5404B,I541A,OCU500,OCUPINF,EMPLPSEC,FAC500A,NCONGLOME,SUB_CONGLOME
0,2022,2,5007,3,11,1,10101,4,4,1,...,,,,,1,2,,48.34,7070,0
1,2022,2,5007,12,11,1,10101,4,4,1,...,,2270,,618,1,1,2,46.85,7070,0
2,2022,2,5007,22,11,1,10101,4,4,1,...,,,,,1,2,,50.01,7070,0
3,2022,2,5007,22,11,2,10101,4,4,2,...,,,,,1,2,,26.67,7070,0
4,2022,2,5007,22,11,3,10101,4,4,3,...,,,,,1,1,1,124.38,7070,0
5,2022,2,5007,50,11,1,10101,4,4,1,...,,,,,4,,,27.31,7070,0
6,2022,2,5007,50,11,2,10101,4,4,2,...,,,,,4,,,13.19,7070,0
7,2022,2,5007,50,11,3,10101,4,4,3,...,,,,,2,,,52.43,7070,0
8,2022,3,5009,56,11,1,10101,4,4,1,...,,,,,1,1,2,266.62,7076,0
9,2022,3,5009,56,11,2,10101,4,4,2,...,,,,1673,1,2,,245.24,7076,0

In [289]:
df1.shape

(87661, 1445)

In [290]:
columns_to_select = ['AÑO','MES','CONGLOME','VIVIENDA','HOGAR','CODPERSO','UBIGEO','DOMINIO','P501','P502','P504B','P507','P510A1',
                     'P511A','P513T','P513A1','P513A2','P514','P521D','P522C','P530A','P536','P555','P207','P208A','P209','P301A',]  # lista de columnas que deseas seleccionar
new_df = df1[columns_to_select]
new_df.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,P501,P502,...,P514,P521D,P522C,P530A,P536,P555,P207,P208A,P209,P301A
0,2022,2,5007,3,11,1,10101,4,1,,...,2,,1,,,,1,57,4,11
1,2022,2,5007,12,11,1,10101,4,1,,...,1,,1,,,,2,22,6,7
2,2022,2,5007,22,11,1,10101,4,1,,...,2,,1,,,,1,63,2,10
3,2022,2,5007,22,11,2,10101,4,1,,...,2,,1,,,,2,62,2,10
4,2022,2,5007,22,11,3,10101,4,1,,...,2,,,1859,,,1,30,6,8

In [291]:
new_df.shape

(87661, 27)

In [292]:
##new_df.to_csv('Empleo_e_ingresos_filtrado.csv', encoding='ISO-8859-1', index=False)

In [293]:
df4 = new_df.copy()
df4.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,P501,P502,...,P514,P521D,P522C,P530A,P536,P555,P207,P208A,P209,P301A
0,2022,2,5007,3,11,1,10101,4,1,,...,2,,1,,,,1,57,4,11
1,2022,2,5007,12,11,1,10101,4,1,,...,1,,1,,,,2,22,6,7
2,2022,2,5007,22,11,1,10101,4,1,,...,2,,1,,,,1,63,2,10
3,2022,2,5007,22,11,2,10101,4,1,,...,2,,1,,,,2,62,2,10
4,2022,2,5007,22,11,3,10101,4,1,,...,2,,,1859,,,1,30,6,8

In [294]:
df4.shape

(87661, 27)

# **PARA** **DOMINIO**

In [295]:
print(df4['DOMINIO'].dtype)

int64

In [296]:
valores_unicos = df4['DOMINIO'].unique()
print(valores_unicos)

[4 7 2 5 6 3 8 1]

In [297]:
## Reemplazamos por valores categóricos

mapeo_str12 = {
    1: "Costa Norte",
    2: "Costa Centro",
    3: "Costa Sur",
    4: "Sierra Norte",
    5: "Sierra Centro",
    6: "Sierra Sur",
    7: "Selva",
    8: "Lima Metropolitana"
}

df4['DOMINIO'] = df4['DOMINIO'].map(mapeo_str12)

In [298]:
valores_unicos = df4['DOMINIO'].unique()
print(valores_unicos)

['Sierra Norte' 'Selva' 'Costa Centro' 'Sierra Centro' 'Sierra Sur'
 'Costa Sur' 'Lima Metropolitana' 'Costa Norte']

# **PARA** **P501**

In [299]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P501': 'TRABAJÓ_SEM_ANTERIOR'}, inplace=True)

In [300]:
print(df4['TRABAJÓ_SEM_ANTERIOR'].dtype)

int64

In [301]:
valores_unicos = df4['TRABAJÓ_SEM_ANTERIOR'].unique()
print(valores_unicos)

[1 2 9]

In [302]:
## Reemplazamos por valores categóricos

mapeo_str12 = {
    1: "Si",
    2: "No",
    9: ""
}

df4['TRABAJÓ_SEM_ANTERIOR'] = df4['TRABAJÓ_SEM_ANTERIOR'].map(mapeo_str12)

In [303]:
valores_unicos = df4['TRABAJÓ_SEM_ANTERIOR'].unique()
print(valores_unicos)

['Si' 'No' '']

In [304]:
conteo = df4['TRABAJÓ_SEM_ANTERIOR'].value_counts()
print(conteo)

Si    59061
No    28473
        127
Name: TRABAJÓ_SEM_ANTERIOR, dtype: int64

In [305]:
## Imputamos campos vacios

##df4['P501'].fillna(df4['P501'].mode().iloc[0], inplace=True)
df4['TRABAJÓ_SEM_ANTERIOR'] = df4['TRABAJÓ_SEM_ANTERIOR'].replace("", df4['TRABAJÓ_SEM_ANTERIOR'].mode().iloc[0])

In [306]:
valores_unicos = df4['TRABAJÓ_SEM_ANTERIOR'].unique()
print(valores_unicos)

['Si' 'No']

In [307]:
conteo = df4['TRABAJÓ_SEM_ANTERIOR'].value_counts()
print(conteo)

Si    59188
No    28473
Name: TRABAJÓ_SEM_ANTERIOR, dtype: int64

In [308]:
nan_in_column = df4['TRABAJÓ_SEM_ANTERIOR'].isna().sum()
print(f"NaN values in P501: {nan_in_column}")

NaN values in P501: 0

In [309]:
empty_strings_in_column = (df4['TRABAJÓ_SEM_ANTERIOR'] == "").sum()
print(f"Empty string values in TRABAJÓ_SEM_ANTERIOR: {empty_strings_in_column}")

Empty string values in TRABAJÓ_SEM_ANTERIOR: 0

# **PARA** **P502**

In [310]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P502': 'EMPLEO_FIJO_A_VOLVER'}, inplace=True)

In [311]:
print(df4['EMPLEO_FIJO_A_VOLVER'].dtype)

object

In [312]:
valores_unicos = df4['EMPLEO_FIJO_A_VOLVER'].unique()
print(valores_unicos)

[' ' '2' '1']

In [313]:
conteo = df4['EMPLEO_FIJO_A_VOLVER'].value_counts()
print(conteo)

     59188
2    27774
1      699
Name: EMPLEO_FIJO_A_VOLVER, dtype: int64

In [314]:
# Reemplazamos por valores categóricos

mapeo_str123 = {
    '1': "Si",
    '2': "No",
    ' ': np.nan  # Usando directamente NaN en lugar de un string vacío
}

df4['EMPLEO_FIJO_A_VOLVER'] = df4['EMPLEO_FIJO_A_VOLVER'].map(mapeo_str123)

In [315]:
valores_unicos = df4['EMPLEO_FIJO_A_VOLVER'].unique()
print(valores_unicos)

[nan 'No' 'Si']

In [316]:
conteo = df4['EMPLEO_FIJO_A_VOLVER'].value_counts()
print(conteo)

No    27774
Si      699
Name: EMPLEO_FIJO_A_VOLVER, dtype: int64

In [317]:
## Imputamos campos vacios

##df4['EMPLEO_FIJO_A_VOLVER'].fillna(df4['EMPLEO_FIJO_A_VOLVER'].mode().iloc[0], inplace=True)

In [318]:
import numpy as np

# Identificar la cantidad de valores NaN en la columna
num_nans = df4['EMPLEO_FIJO_A_VOLVER'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['EMPLEO_FIJO_A_VOLVER'].isna(), 'EMPLEO_FIJO_A_VOLVER'] = np.random.choice(['Si', 'No'], size=num_nans)

In [319]:
valores_unicos = df4['EMPLEO_FIJO_A_VOLVER'].unique()
print(valores_unicos)

['No' 'Si']

In [320]:
conteo = df4['EMPLEO_FIJO_A_VOLVER'].value_counts()
print(conteo)

No    57342
Si    30319
Name: EMPLEO_FIJO_A_VOLVER, dtype: int64

In [321]:
nan_in_column = df4['EMPLEO_FIJO_A_VOLVER'].isna().sum()
print(f"NaN values in EMPLEO_FIJO_A_VOLVER: {nan_in_column}")

NaN values in EMPLEO_FIJO_A_VOLVER: 0

In [322]:
empty_strings_in_column = (df4['EMPLEO_FIJO_A_VOLVER'] == "").sum()
print(f"Empty string values in EMPLEO_FIJO_A_VOLVER: {empty_strings_in_column}")

Empty string values in EMPLEO_FIJO_A_VOLVER: 0

# **PARA** **P504B**

In [323]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P504B': 'RAZÓN_NO_TRABAJÓ'}, inplace=True)

In [324]:
print(df4['RAZÓN_NO_TRABAJÓ'].dtype)

object

In [325]:
valores_unicos = df4['RAZÓN_NO_TRABAJÓ'].unique()
print(valores_unicos)

[' ' '8' '9' '5' '12' '4' '11' '1' '10' '2' '6' '7']

In [326]:
mapeo_str = {
    '1': "Fue despedido por cierre de la empresa por el Coronavirus",
    '2': "Fue despedido por reducción de personal de la empresa, por el Coronavirus",
    '4': "Renunció voluntariamente por temor a contagiarse del coronavirus",
    '5': "Término de contrato/trabajo temporal",
    '6': "No renovaron su contrato por suspensión de labores de la empresa",
    '7': "Fue despedido por presentar síntomas de coronavirus",
    '8': "Cierre del negocio familiar por coronavirus",
    '9': "Por cierre de negocio propio, por aislamiento social obligatorio",
    '10': "No pudo continuar prestando sus servicios de forma independiente por el aislamiento social",
    '11': "Por desabastecimiento del negocio propio por falta de transporte",
    '12': "Otra razón",
    ' ': np.nan
}

df4['RAZÓN_NO_TRABAJÓ'] = df4['RAZÓN_NO_TRABAJÓ'].map(mapeo_str)

In [327]:
print(df4['RAZÓN_NO_TRABAJÓ'].sample(10))

38429    NaN
87395    NaN
29740    NaN
69496    NaN
78530    NaN
31670    NaN
86289    NaN
3515     NaN
55308    NaN
75140    NaN
Name: RAZÓN_NO_TRABAJÓ, dtype: object

In [328]:
conteo = df4['RAZÓN_NO_TRABAJÓ'].value_counts()
print(conteo)

Otra razón                                                                                    617
Término de contrato/trabajo temporal                                                          359
No pudo continuar prestando sus servicios de forma independiente por el aislamiento social    288
Renunció voluntariamente por temor a contagiarse del coronavirus                              207
Por cierre de negocio propio, por aislamiento social obligatorio                              199
Cierre del negocio familiar por coronavirus                                                   148
Fue despedido por cierre de la empresa por el Coronavirus                                     145
Fue despedido por reducción de personal de la empresa, por el Coronavirus                     121
No renovaron su contrato por suspensión de labores de la empresa                               23
Por desabastecimiento del negocio propio por falta de transporte                               16
Fue despedido por presentar síntomas de coronavirus                                            11
Name: RAZÓN_NO_TRABAJÓ, dtype: int64

In [329]:
# Identificar la cantidad de valores NaN en la columna
num_nans = df4['RAZÓN_NO_TRABAJÓ'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['RAZÓN_NO_TRABAJÓ'].isna(), 'RAZÓN_NO_TRABAJÓ'] = np.random.choice([
 'Cierre del negocio familiar por coronavirus',
 'Por cierre de negocio propio, por aislamiento social obligatorio',
 'Término de contrato/trabajo temporal',
 'Otra razón',
 'Renunció voluntariamente por temor a contagiarse del coronavirus',
 'Por desabastecimiento del negocio propio por falta de transporte',
 'Fue despedido por cierre de la empresa por el Coronavirus',
 'No pudo continuar prestando sus servicios de forma independiente por el aislamiento social',
 'Fue despedido por reducción de personal de la empresa, por el Coronavirus',
 'No renovaron su contrato por suspensión de labores de la empresa'], size=num_nans)

In [330]:
conteo = df4['RAZÓN_NO_TRABAJÓ'].value_counts()
print(conteo)

Otra razón                                                                                    9238
Término de contrato/trabajo temporal                                                          8983
Por cierre de negocio propio, por aislamiento social obligatorio                              8769
Renunció voluntariamente por temor a contagiarse del coronavirus                              8758
Cierre del negocio familiar por coronavirus                                                   8743
Fue despedido por cierre de la empresa por el Coronavirus                                     8731
No pudo continuar prestando sus servicios de forma independiente por el aislamiento social    8689
Fue despedido por reducción de personal de la empresa, por el Coronavirus                     8634
No renovaron su contrato por suspensión de labores de la empresa                              8572
Por desabastecimiento del negocio propio por falta de transporte                              8533
Fue despedido por presentar síntomas de coronavirus                                             11
Name: RAZÓN_NO_TRABAJÓ, dtype: int64

In [331]:
valores_unicos = df4['RAZÓN_NO_TRABAJÓ'].unique()
print(valores_unicos)

['Por cierre de negocio propio, por aislamiento social obligatorio'
 'Fue despedido por reducción de personal de la empresa, por el Coronavirus'
 'Fue despedido por cierre de la empresa por el Coronavirus'
 'No renovaron su contrato por suspensión de labores de la empresa'
 'No pudo continuar prestando sus servicios de forma independiente por el aislamiento social'
 'Por desabastecimiento del negocio propio por falta de transporte'
 'Otra razón'
 'Renunció voluntariamente por temor a contagiarse del coronavirus'
 'Término de contrato/trabajo temporal'
 'Cierre del negocio familiar por coronavirus'
 'Fue despedido por presentar síntomas de coronavirus']

In [332]:
empty_strings_in_column = (df4['RAZÓN_NO_TRABAJÓ'] == "").sum()
print(f"Empty string values in RAZÓN_NO_TRABAJÓ: {empty_strings_in_column}")

nan_in_column = df4['RAZÓN_NO_TRABAJÓ'].isna().sum()
print(f"NaN values in RAZÓN_NO_TRABAJÓ: {nan_in_column}")

Empty string values in RAZÓN_NO_TRABAJÓ: 0
NaN values in RAZÓN_NO_TRABAJÓ: 0

In [333]:
print(df4['RAZÓN_NO_TRABAJÓ'].sample(10))

42928    No renovaron su contrato por suspensión de lab...
22680          Cierre del negocio familiar por coronavirus
66201    No pudo continuar prestando sus servicios de f...
66963    No pudo continuar prestando sus servicios de f...
33818    Renunció voluntariamente por temor a contagiar...
36559          Cierre del negocio familiar por coronavirus
27060                                           Otra razón
46006    Renunció voluntariamente por temor a contagiar...
60399    Fue despedido por reducción de personal de la ...
48323    Por cierre de negocio propio, por aislamiento ...
Name: RAZÓN_NO_TRABAJÓ, dtype: object

##  **PARA** **P507**

In [334]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P507': 'LABOR_QUE_DESEMPEÑA'}, inplace=True)

In [335]:
print(df4['LABOR_QUE_DESEMPEÑA'].dtype)

object

In [336]:
valores_unicos = df4['LABOR_QUE_DESEMPEÑA'].unique()
print(valores_unicos)

['3' '4' '2' ' ' '5' '6' '1' '7']

In [337]:
conteo = df4['LABOR_QUE_DESEMPEÑA'].value_counts()
print(conteo)

2    25254
     22421
4    12697
3    12042
5    11628
1     2208
6     1100
7      311
Name: LABOR_QUE_DESEMPEÑA, dtype: int64

In [338]:
mapeo_str1 = {
    '1': "Empleador o patrono",
    '2': "Trabajador Independiente",
    '3': "Empleado",
    '4': "Obrero",
    '5': "Trabajador Familiar No Remunerado",
    '6': "Trabajador del Hogar",
    '7': "Otro",
    ' ': np.nan
}

df4['LABOR_QUE_DESEMPEÑA'] = df4['LABOR_QUE_DESEMPEÑA'].map(mapeo_str1)

In [339]:
valores_unicos = df4['LABOR_QUE_DESEMPEÑA'].unique()
print(valores_unicos)

['Empleado' 'Obrero' 'Trabajador Independiente' nan
 'Trabajador Familiar No Remunerado' 'Trabajador del Hogar'
 'Empleador o patrono' 'Otro']

In [340]:
conteo = df4['LABOR_QUE_DESEMPEÑA'].value_counts()
print(conteo)

Trabajador Independiente             25254
Obrero                               12697
Empleado                             12042
Trabajador Familiar No Remunerado    11628
Empleador o patrono                   2208
Trabajador del Hogar                  1100
Otro                                   311
Name: LABOR_QUE_DESEMPEÑA, dtype: int64

In [341]:
## Imputamos campos vacios

# Identificar la cantidad de valores NaN en la columna
num_nans = df4['LABOR_QUE_DESEMPEÑA'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['LABOR_QUE_DESEMPEÑA'].isna(), 'LABOR_QUE_DESEMPEÑA'] = np.random.choice([
    'Empleado',
    'Obrero',
    'Trabajador Independiente',
    'Trabajador Familiar No Remunerado',
    'Trabajador del Hogar',
    'Empleador o patrono',
    'Otro'
 ], size=num_nans)

In [342]:
valores_unicos = df4['LABOR_QUE_DESEMPEÑA'].unique()
print(valores_unicos)

['Empleado' 'Obrero' 'Trabajador Independiente' 'Otro'
 'Empleador o patrono' 'Trabajador Familiar No Remunerado'
 'Trabajador del Hogar']

In [343]:
conteo = df4['LABOR_QUE_DESEMPEÑA'].value_counts()
print(conteo)

Trabajador Independiente             28467
Obrero                               15945
Empleado                             15337
Trabajador Familiar No Remunerado    14842
Empleador o patrono                   5400
Trabajador del Hogar                  4206
Otro                                  3464
Name: LABOR_QUE_DESEMPEÑA, dtype: int64

In [344]:
empty_strings_in_column = (df4['LABOR_QUE_DESEMPEÑA'] == "").sum()
print(f"Empty string values in LABOR_QUE_DESEMPEÑA: {empty_strings_in_column}")

nan_in_column = df4['LABOR_QUE_DESEMPEÑA'].isna().sum()
print(f"NaN values in LABOR_QUE_DESEMPEÑA: {nan_in_column}")

Empty string values in LABOR_QUE_DESEMPEÑA: 0
NaN values in LABOR_QUE_DESEMPEÑA: 0

# **PARA** **P510A1**

In [345]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P510A1': 'REGISTRO_EMPRESA'}, inplace=True)

In [346]:
print(df4['REGISTRO_EMPRESA'].dtype)

object

In [347]:
valores_unicos = df4['REGISTRO_EMPRESA'].unique()
print(valores_unicos)

[' ' '2' '3' '1']

In [348]:
conteo = df4['REGISTRO_EMPRESA'].value_counts()
print(conteo)

3    43786
     28941
1     8336
2     6598
Name: REGISTRO_EMPRESA, dtype: int64

In [349]:
mapeo_str3 = {
    '1': "Persona Jurídica (Sociedad Anónima; SRL; Sociedad Civil; EIRL; Fundación ó Asociación, etc.)",
    '2': "Persona Natural (con RUC, RUS, RER, u otro régimen)",
    '3': "No esta registrado (no tiene RUC)",
    ' ': np.nan
}


df4['REGISTRO_EMPRESA'] = df4['REGISTRO_EMPRESA'].map(mapeo_str3)

In [350]:
valores_unicos = df4['REGISTRO_EMPRESA'].unique()
print(valores_unicos)

[nan 'Persona Natural (con RUC, RUS, RER, u otro régimen)'
 'No esta registrado (no tiene RUC)'
 'Persona Jurídica (Sociedad Anónima; SRL; Sociedad Civil; EIRL; Fundación ó Asociación, etc.)']

In [351]:
## Imputamos campos vacios

# Identificar la cantidad de valores NaN en la columna
num_nans = df4['REGISTRO_EMPRESA'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['REGISTRO_EMPRESA'].isna(), 'REGISTRO_EMPRESA'] = np.random.choice([
    'Persona Natural (con RUC, RUS, RER, u otro régimen)',
    'No esta registrado (no tiene RUC)',
    'Persona Jurídica (Sociedad Anónima; SRL; Sociedad Civil; EIRL; Fundación ó Asociación, etc.)'
 ], size=num_nans)

In [352]:
valores_unicos = df4['REGISTRO_EMPRESA'].unique()
print(valores_unicos)

['Persona Jurídica (Sociedad Anónima; SRL; Sociedad Civil; EIRL; Fundación ó Asociación, etc.)'
 'Persona Natural (con RUC, RUS, RER, u otro régimen)'
 'No esta registrado (no tiene RUC)']

In [353]:
conteo = df4['REGISTRO_EMPRESA'].value_counts()
print(conteo)

No esta registrado (no tiene RUC)                                                               53528
Persona Jurídica (Sociedad Anónima; SRL; Sociedad Civil; EIRL; Fundación ó Asociación, etc.)    17851
Persona Natural (con RUC, RUS, RER, u otro régimen)                                             16282
Name: REGISTRO_EMPRESA, dtype: int64

In [354]:
empty_strings_in_column = (df4['REGISTRO_EMPRESA'] == "").sum()
print(f"Empty string values in REGISTRO_EMPRESA: {empty_strings_in_column}")

nan_in_column = df4['REGISTRO_EMPRESA'].isna().sum()
print(f"NaN values in REGISTRO_EMPRESA: {nan_in_column}")

Empty string values in REGISTRO_EMPRESA: 0
NaN values in REGISTRO_EMPRESA: 0

# **PARA** **P511A**

In [355]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P511A': 'TIPO_CONTRATO'}, inplace=True)

In [356]:
valores_unicos = df4['TIPO_CONTRATO'].unique()
print(valores_unicos)

['1' '7' ' ' '5' '2' '6' '4' '3' '8']

In [357]:
conteo = df4['TIPO_CONTRATO'].value_counts()
print(conteo)

     50150
7    25320
2     6123
1     3753
5     1435
6      689
4      142
3       48
8        1
Name: TIPO_CONTRATO, dtype: int64

In [358]:
mapeo_str4 = {
    '1': "Contrato indefinido, nombrado, permanente",
    '2': "Contrato a plazo fijo (sujeto a modalidad)",
    '3': "Está en período de prueba",
    '4': "Convenios de Formación Laboral Juvenil /Prácticas Pre-profesioanles",
    '5': "Contrato por locación de servicios (Honorarios profesionales, RUC), SNP",
    '6': "Regimen Especial de Contratación Administrativa (CAS)",
    '7': "Sin contrato",
    '8': "Otro",
    ' ': np.nan
}


df4['TIPO_CONTRATO'] = df4['TIPO_CONTRATO'].map(mapeo_str4)

In [359]:
valores_unicos = df4['TIPO_CONTRATO'].unique()
print(valores_unicos)

['Contrato indefinido, nombrado, permanente' 'Sin contrato' nan
 'Contrato por locación de servicios (Honorarios profesionales, RUC), SNP'
 'Contrato a plazo fijo (sujeto a modalidad)'
 'Regimen Especial de Contratación Administrativa (CAS)'
 'Convenios de Formación Laboral Juvenil /Prácticas Pre-profesioanles'
 'Está en período de prueba' 'Otro']

In [360]:
## Imputamos campos vacios

# Identificar la cantidad de valores NaN en la columna
num_nans = df4['TIPO_CONTRATO'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['TIPO_CONTRATO'].isna(), 'TIPO_CONTRATO'] = np.random.choice([
    'Contrato indefinido, nombrado, permanente',
    'Sin contrato',
    "Está en período de prueba",
    'Contrato por locación de servicios (Honorarios profesionales, RUC), SNP',
    'Contrato a plazo fijo (sujeto a modalidad)',
    'Regimen Especial de Contratación Administrativa (CAS)',
    'Convenios de Formación Laboral Juvenil /Prácticas Pre-profesioanles'
 ], size=num_nans)

In [361]:
valores_unicos = df4['TIPO_CONTRATO'].unique()
print(valores_unicos)

['Contrato indefinido, nombrado, permanente' 'Sin contrato'
 'Está en período de prueba'
 'Convenios de Formación Laboral Juvenil /Prácticas Pre-profesioanles'
 'Regimen Especial de Contratación Administrativa (CAS)'
 'Contrato por locación de servicios (Honorarios profesionales, RUC), SNP'
 'Contrato a plazo fijo (sujeto a modalidad)' 'Otro']

In [362]:
conteo = df4['TIPO_CONTRATO'].value_counts()
print(conteo)

Sin contrato                                                               32382
Contrato a plazo fijo (sujeto a modalidad)                                 13206
Contrato indefinido, nombrado, permanente                                  11038
Contrato por locación de servicios (Honorarios profesionales, RUC), SNP     8630
Regimen Especial de Contratación Administrativa (CAS)                       7750
Está en período de prueba                                                   7335
Convenios de Formación Laboral Juvenil /Prácticas Pre-profesioanles         7319
Otro                                                                           1
Name: TIPO_CONTRATO, dtype: int64

In [363]:
empty_strings_in_column = (df4['TIPO_CONTRATO'] == "").sum()
print(f"Empty string values in TIPO_CONTRATO: {empty_strings_in_column}")

nan_in_column = df4['TIPO_CONTRATO'].isna().sum()
print(f"NaN values in TIPO_CONTRATO: {nan_in_column}")

Empty string values in TIPO_CONTRATO: 0
NaN values in TIPO_CONTRATO: 0

# **PARA** **P513T**

In [364]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P513T': 'HORAS_TRABAJO_SEM_ANTERIOR'}, inplace=True)

In [365]:
valores_unicos = df4['HORAS_TRABAJO_SEM_ANTERIOR'].unique()
print(valores_unicos)

['40' '73' '44' '35' ' ' '24' '7' '14' '42' '30' '84' '32' '76' '25' '0'
 '45' '56' '28' '9' '77' '63' '21' '70' '49' '48' '20' '18' '54' '34' '60'
 '36' '38' '39' '17' '13' '50' '26' '10' '31' '22' '47' '6' '19' '43' '23'
 '46' '27' '2' '16' '8' '66' '29' '12' '55' '72' '98' '3' '80' '68' '4'
 '41' '51' '33' '52' '67' '95' '15' '1' '11' '64' '59' '58' '53' '82' '88'
 '37' '57' '93' '5' '79' '62' '74' '71' '69' '91' '65' '81' '61' '96' '85'
 '75' '78' '97' '90' '87' '89' '83' '86' '94' '92']

In [366]:
# Convertir la columna a numérico, colocando NaN donde no pueda convertirse a número
df4['HORAS_TRABAJO_SEM_ANTERIOR'] = pd.to_numeric(df4['HORAS_TRABAJO_SEM_ANTERIOR'], errors='coerce')

In [367]:
valores_unicos = df4['HORAS_TRABAJO_SEM_ANTERIOR'].unique()
print(valores_unicos)

[40. 73. 44. 35. nan 24.  7. 14. 42. 30. 84. 32. 76. 25.  0. 45. 56. 28.
  9. 77. 63. 21. 70. 49. 48. 20. 18. 54. 34. 60. 36. 38. 39. 17. 13. 50.
 26. 10. 31. 22. 47.  6. 19. 43. 23. 46. 27.  2. 16.  8. 66. 29. 12. 55.
 72. 98.  3. 80. 68.  4. 41. 51. 33. 52. 67. 95. 15.  1. 11. 64. 59. 58.
 53. 82. 88. 37. 57. 93.  5. 79. 62. 74. 71. 69. 91. 65. 81. 61. 96. 85.
 75. 78. 97. 90. 87. 89. 83. 86. 94. 92.]

In [368]:
## Imputamos campos vacios-- en este caso por el promedio de horas

# Calcular la media
media_entero = int(round(df4['HORAS_TRABAJO_SEM_ANTERIOR'].mean()))

# Imputar los valores NaN en la columna 'ORAS_TRABAJO_SEM_ANTERIOR' con la media entera
df4['HORAS_TRABAJO_SEM_ANTERIOR'].fillna(media_entero, inplace=True)

In [369]:
valores_unicos = df4['HORAS_TRABAJO_SEM_ANTERIOR'].unique()
print(valores_unicos)

[40. 73. 44. 35. 36. 24.  7. 14. 42. 30. 84. 32. 76. 25.  0. 45. 56. 28.
  9. 77. 63. 21. 70. 49. 48. 20. 18. 54. 34. 60. 38. 39. 17. 13. 50. 26.
 10. 31. 22. 47.  6. 19. 43. 23. 46. 27.  2. 16.  8. 66. 29. 12. 55. 72.
 98.  3. 80. 68.  4. 41. 51. 33. 52. 67. 95. 15.  1. 11. 64. 59. 58. 53.
 82. 88. 37. 57. 93.  5. 79. 62. 74. 71. 69. 91. 65. 81. 61. 96. 85. 75.
 78. 97. 90. 87. 89. 83. 86. 94. 92.]

In [370]:
conteo = df4['HORAS_TRABAJO_SEM_ANTERIOR'].value_counts()
print(conteo)

36.00    24284
48.00     6574
40.00     3670
30.00     2288
24.00     2212
         ...
93.00       14
89.00       14
97.00       11
95.00       10
92.00       10
Name: HORAS_TRABAJO_SEM_ANTERIOR, Length: 99, dtype: int64

In [371]:
empty_strings_in_column = (df4['HORAS_TRABAJO_SEM_ANTERIOR'] == "").sum()
print(f"Empty string values in HORAS_TRABAJO_SEM_ANTERIOR': {empty_strings_in_column}")

nan_in_column = df4['HORAS_TRABAJO_SEM_ANTERIOR'].isna().sum()
print(f"NaN values in HORAS_TRABAJO_SEM_ANTERIOR': {nan_in_column}")

Empty string values in HORAS_TRABAJO_SEM_ANTERIOR': 0
NaN values in HORAS_TRABAJO_SEM_ANTERIOR': 0

###  **PARA** **P513A1** **Y** **P513A2**

In [372]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P513A1': 'TIEMPO_TRABAJO_AÑOS'}, inplace=True)

In [373]:
valores_unicos = df4['TIEMPO_TRABAJO_AÑOS'].unique()
print(valores_unicos)

['18' '0' '15' '40' ' ' '1' '2' '31' '5' '8' '10' '3' '30' '16' '9' '25'
 '32' '6' '20' '14' '52' '17' '7' '34' '12' '35' '4' '49' '28' '27' '36'
 '11' '23' '13' '45' '24' '19' '44' '56' '21' '48' '33' '22' '54' '42'
 '55' '50' '26' '38' '37' '53' '39' '41' '58' '64' '29' '47' '59' '65'
 '51' '60' '43' '62' '57' '46' '70' '61' '99' '75' '63' '67' '69' '68'
 '66' '72' '77']

In [374]:
# Convertir la columna a numérico, colocando NaN donde no pueda convertirse a número
df4['TIEMPO_TRABAJO_AÑOS'] = pd.to_numeric(df4['TIEMPO_TRABAJO_AÑOS'], errors='coerce')

In [375]:
valores_unicos = df4['TIEMPO_TRABAJO_AÑOS'].unique()
print(valores_unicos)

[18.  0. 15. 40. nan  1.  2. 31.  5.  8. 10.  3. 30. 16.  9. 25. 32.  6.
 20. 14. 52. 17.  7. 34. 12. 35.  4. 49. 28. 27. 36. 11. 23. 13. 45. 24.
 19. 44. 56. 21. 48. 33. 22. 54. 42. 55. 50. 26. 38. 37. 53. 39. 41. 58.
 64. 29. 47. 59. 65. 51. 60. 43. 62. 57. 46. 70. 61. 99. 75. 63. 67. 69.
 68. 66. 72. 77.]

In [376]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P513A2': 'TIEMPO_TRABAJO_MESES'}, inplace=True)

In [377]:
valores_unicos = df4['TIEMPO_TRABAJO_MESES'].unique()
print(valores_unicos)

['11' '3' '5' '4' ' ' '0' '6' '1' '2' '7' '10' '8' '9' '99']

In [378]:
# Convertir la columna a numérico, colocando NaN donde no pueda convertirse a número
df4['TIEMPO_TRABAJO_MESES'] = pd.to_numeric(df4['TIEMPO_TRABAJO_MESES'], errors='coerce')

In [379]:
valores_unicos = df4['TIEMPO_TRABAJO_MESES'].unique()
print(valores_unicos)

[11.  3.  5.  4. nan  0.  6.  1.  2.  7. 10.  8.  9. 99.]

In [380]:
import numpy as np

# Convertir los meses a años solo para los registros donde TIEMPO_TRABAJO_AÑOS es 0
df4['TIEMPO_TRABAJO_MESES'] = np.where(df4['TIEMPO_TRABAJO_AÑOS'] == 0, df4['TIEMPO_TRABAJO_MESES'] / 12, df4['TIEMPO_TRABAJO_MESES'])

# Sumar esos valores convertidos a 'TIEMPO_TRABAJO_AÑOS' solo si TIEMPO_TRABAJO_AÑOS es 0
df4['TIEMPO_TRABAJO_AÑOS'] = np.where(df4['TIEMPO_TRABAJO_AÑOS'] == 0, df4['TIEMPO_TRABAJO_AÑOS'] + df4['TIEMPO_TRABAJO_MESES'], df4['TIEMPO_TRABAJO_AÑOS'])

# Redondear 'TIEMPO_TRABAJO_AÑOS' a dos decimales
df4['TIEMPO_TRABAJO_AÑOS'] = df4['TIEMPO_TRABAJO_AÑOS'].round(2)

# Eliminar la columna 'TIEMPO_TRABAJO_MESES'
df4.drop(columns=['TIEMPO_TRABAJO_MESES'], inplace=True)

In [381]:
print(df4['TIEMPO_TRABAJO_AÑOS'].dtype)

float64

In [382]:
import pandas as pd

pd.set_option('display.float_format', '{:.2f}'.format)

In [383]:
valores_unicos = df4['TIEMPO_TRABAJO_AÑOS'].unique()

for valor in valores_unicos:
    if not pd.isnull(valor):  # Esto se asegura de no formatear valores NaN
        print('{:.2f}'.format(valor))
    else:
        print(valor)

18.00
0.25
15.00
40.00
0.92
nan
1.00
0.08
0.42
0.17
2.00
31.00
5.00
8.00
10.00
3.00
30.00
16.00
9.00
0.58
25.00
32.00
6.00
20.00
14.00
0.50
52.00
17.00
7.00
34.00
12.00
35.00
4.00
49.00
28.00
27.00
36.00
11.00
23.00
13.00
0.67
45.00
24.00
19.00
44.00
56.00
21.00
48.00
0.83
0.33
33.00
22.00
54.00
42.00
55.00
0.75
50.00
26.00
38.00
37.00
53.00
39.00
41.00
58.00
64.00
29.00
47.00
59.00
65.00
51.00
60.00
43.00
62.00
57.00
46.00
70.00
61.00
99.00
75.00
63.00
67.00
69.00
68.00
66.00
72.00
77.00

In [384]:
valores_unicos = df4['TIEMPO_TRABAJO_AÑOS'].unique()
print(valores_unicos)

[1.8e+01 2.5e-01 1.5e+01 4.0e+01 9.2e-01     nan 1.0e+00 8.0e-02 4.2e-01
 1.7e-01 2.0e+00 3.1e+01 5.0e+00 8.0e+00 1.0e+01 3.0e+00 3.0e+01 1.6e+01
 9.0e+00 5.8e-01 2.5e+01 3.2e+01 6.0e+00 2.0e+01 1.4e+01 5.0e-01 5.2e+01
 1.7e+01 7.0e+00 3.4e+01 1.2e+01 3.5e+01 4.0e+00 4.9e+01 2.8e+01 2.7e+01
 3.6e+01 1.1e+01 2.3e+01 1.3e+01 6.7e-01 4.5e+01 2.4e+01 1.9e+01 4.4e+01
 5.6e+01 2.1e+01 4.8e+01 8.3e-01 3.3e-01 3.3e+01 2.2e+01 5.4e+01 4.2e+01
 5.5e+01 7.5e-01 5.0e+01 2.6e+01 3.8e+01 3.7e+01 5.3e+01 3.9e+01 4.1e+01
 5.8e+01 6.4e+01 2.9e+01 4.7e+01 5.9e+01 6.5e+01 5.1e+01 6.0e+01 4.3e+01
 6.2e+01 5.7e+01 4.6e+01 7.0e+01 6.1e+01 9.9e+01 7.5e+01 6.3e+01 6.7e+01
 6.9e+01 6.8e+01 6.6e+01 7.2e+01 7.7e+01]

In [385]:
## Imputamos campos vacios

df4['TIEMPO_TRABAJO_AÑOS'].fillna(df4['TIEMPO_TRABAJO_AÑOS'].mean(), inplace=True)

In [386]:
valores_unicos = df4['TIEMPO_TRABAJO_AÑOS'].unique()
print(valores_unicos)

[1.80000000e+01 2.50000000e-01 1.50000000e+01 4.00000000e+01
 9.20000000e-01 8.43973145e+00 1.00000000e+00 8.00000000e-02
 4.20000000e-01 1.70000000e-01 2.00000000e+00 3.10000000e+01
 5.00000000e+00 8.00000000e+00 1.00000000e+01 3.00000000e+00
 3.00000000e+01 1.60000000e+01 9.00000000e+00 5.80000000e-01
 2.50000000e+01 3.20000000e+01 6.00000000e+00 2.00000000e+01
 1.40000000e+01 5.00000000e-01 5.20000000e+01 1.70000000e+01
 7.00000000e+00 3.40000000e+01 1.20000000e+01 3.50000000e+01
 4.00000000e+00 4.90000000e+01 2.80000000e+01 2.70000000e+01
 3.60000000e+01 1.10000000e+01 2.30000000e+01 1.30000000e+01
 6.70000000e-01 4.50000000e+01 2.40000000e+01 1.90000000e+01
 4.40000000e+01 5.60000000e+01 2.10000000e+01 4.80000000e+01
 8.30000000e-01 3.30000000e-01 3.30000000e+01 2.20000000e+01
 5.40000000e+01 4.20000000e+01 5.50000000e+01 7.50000000e-01
 5.00000000e+01 2.60000000e+01 3.80000000e+01 3.70000000e+01
 5.30000000e+01 3.90000000e+01 4.10000000e+01 5.80000000e+01
 6.40000000e+01 2.90000000e+01 4.70000000e+01 5.90000000e+01
 6.50000000e+01 5.10000000e+01 6.00000000e+01 4.30000000e+01
 6.20000000e+01 5.70000000e+01 4.60000000e+01 7.00000000e+01
 6.10000000e+01 9.90000000e+01 7.50000000e+01 6.30000000e+01
 6.70000000e+01 6.90000000e+01 6.80000000e+01 6.60000000e+01
 7.20000000e+01 7.70000000e+01]

In [387]:
conteo = df4['TIEMPO_TRABAJO_AÑOS'].value_counts()
print(conteo)

8.44     22421
0.08      8808
1.00      6759
2.00      5119
3.00      3455
         ...
68.00        3
69.00        2
75.00        1
72.00        1
77.00        1
Name: TIEMPO_TRABAJO_AÑOS, Length: 86, dtype: int64

In [388]:
empty_strings_in_column = (df4['TIEMPO_TRABAJO_AÑOS'] == "").sum()
print(f"Empty string values in TIEMPO_TRABAJO_AÑOS': {empty_strings_in_column}")

nan_in_column = df4['TIEMPO_TRABAJO_AÑOS'].isna().sum()
print(f"NaN values in TIEMPO_TRABAJO_AÑOS': {nan_in_column}")

Empty string values in TIEMPO_TRABAJO_AÑOS': 0
NaN values in TIEMPO_TRABAJO_AÑOS': 0

# **PARA** **P514**

In [389]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P514': 'TUVO_OTRO_TRABAJO'}, inplace=True)

In [390]:
print(df4['TUVO_OTRO_TRABAJO'].dtype)

object

In [391]:
valores_unicos = df4['TUVO_OTRO_TRABAJO'].unique()
print(valores_unicos)

['2' '1' ' ']

In [392]:
conteo = df4['TUVO_OTRO_TRABAJO'].value_counts()
print(conteo)

2    52032
     22421
1    13208
Name: TUVO_OTRO_TRABAJO, dtype: int64

In [393]:
## Reemplazamos por valores categóricos

mapeo_str12 = {
    '1': "Si",
    '2': "No",
    ' ': np.nan
}

df4['TUVO_OTRO_TRABAJO'] = df4['TUVO_OTRO_TRABAJO'].map(mapeo_str12)

In [394]:
valores_unicos = df4['TUVO_OTRO_TRABAJO'].unique()
print(valores_unicos)

['No' 'Si' nan]

In [395]:
conteo = df4['TUVO_OTRO_TRABAJO'].value_counts()
print(conteo)

No    52032
Si    13208
Name: TUVO_OTRO_TRABAJO, dtype: int64

In [396]:
# Identificar la cantidad de valores NaN en la columna
num_nans = df4['TUVO_OTRO_TRABAJO'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['TUVO_OTRO_TRABAJO'].isna(), 'TUVO_OTRO_TRABAJO'] = np.random.choice(['Si', 'No'], size=num_nans)

In [397]:
conteo = df4['TUVO_OTRO_TRABAJO'].value_counts()
print(conteo)

No    63163
Si    24498
Name: TUVO_OTRO_TRABAJO, dtype: int64

# **PARA** **P521D**

In [398]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P521D': 'BUSCA_TRABAJO'}, inplace=True)

In [399]:
valores_unicos = df4['BUSCA_TRABAJO'].unique()
print(valores_unicos)

[' ' '1' '4' '5' '2' '6' '3']

In [400]:
conteo = df4['BUSCA_TRABAJO'].value_counts()
print(conteo)

     84038
1     2485
4      456
5      385
3      154
2       93
6       50
Name: BUSCA_TRABAJO, dtype: int64

In [401]:
mapeo_str5 = {
    '1': "Porque desea un trabajo mejor pagado (mejor ingreso) sin trabajar más horas",
    '2': "Por temor o certeza de perder el trabajo actual",
    '3': "Porque desea un trabajo no riesgoso (seguro) y que no afecte su salud",
    '4': "Porque busca trabajar más (en una segunda actividad o en un empleo con más horas)",
    '5': "Porque desea trabajar en la carrera u oficio aprendido",
    '6': "Otro",
    ' ': "No busco otro trabajo"
}


df4['BUSCA_TRABAJO'] = df4['BUSCA_TRABAJO'].map(mapeo_str5)

In [402]:
valores_unicos = df4['BUSCA_TRABAJO'].unique()
print(valores_unicos)

['No busco otro trabajo'
 'Porque desea un trabajo mejor pagado (mejor ingreso) sin trabajar más horas'
 'Porque busca trabajar más (en una segunda actividad o en un empleo con más horas)'
 'Porque desea trabajar en la carrera u oficio aprendido'
 'Por temor o certeza de perder el trabajo actual' 'Otro'
 'Porque desea un trabajo no riesgoso (seguro) y que no afecte su salud']

In [403]:
conteo = df4['BUSCA_TRABAJO'].value_counts()
print(conteo)

No busco otro trabajo                                                                84038
Porque desea un trabajo mejor pagado (mejor ingreso) sin trabajar más horas           2485
Porque busca trabajar más (en una segunda actividad o en un empleo con más horas)      456
Porque desea trabajar en la carrera u oficio aprendido                                 385
Porque desea un trabajo no riesgoso (seguro) y que no afecte su salud                  154
Por temor o certeza de perder el trabajo actual                                         93
Otro                                                                                    50
Name: BUSCA_TRABAJO, dtype: int64

In [404]:
empty_strings_in_column = (df4['BUSCA_TRABAJO'] == "").sum()
print(f"Empty string values in BUSCA_TRABAJO: {empty_strings_in_column}")

nan_in_column = df4['BUSCA_TRABAJO'].isna().sum()
print(f"NaN values in BUSCA_TRABAJO: {nan_in_column}")

Empty string values in BUSCA_TRABAJO: 0
NaN values in BUSCA_TRABAJO: 0

# **PARA** **522C**

In [405]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P522C': 'FRECUENCIA_PAGO'}, inplace=True)

In [406]:
valores_unicos = df4['FRECUENCIA_PAGO'].unique()
print(valores_unicos)

['1' ' ' '5' '3' '2' '6' '4']

In [407]:
conteo = df4['FRECUENCIA_PAGO'].value_counts()
print(conteo)

     74980
1    11698
2      514
5      332
3      107
6       25
4        5
Name: FRECUENCIA_PAGO, dtype: int64

In [408]:
mapeo_str6 = {
    '1': "¿Pago mensual completo?",
    '2': "¿Pago parcial?",
    '3': "¿Aún no le pagan, pero le van a pagar?",
    '4': "¿No sabe si le van a pagar?",
    '5': "¿Otro?",
    '6': "No recibió pago"

}


df4['FRECUENCIA_PAGO'] = df4['FRECUENCIA_PAGO'].map(mapeo_str6)

In [409]:
valores_unicos = df4['FRECUENCIA_PAGO'].unique()
print(valores_unicos)

['¿Pago mensual completo?' nan '¿Otro?'
 '¿Aún no le pagan, pero le van a pagar?' '¿Pago parcial?'
 'No recibió pago' '¿No sabe si le van a pagar?']

In [410]:
conteo = df4['FRECUENCIA_PAGO'].value_counts()
print(conteo)

¿Pago mensual completo?                   11698
¿Pago parcial?                              514
¿Otro?                                      332
¿Aún no le pagan, pero le van a pagar?      107
No recibió pago                              25
¿No sabe si le van a pagar?                   5
Name: FRECUENCIA_PAGO, dtype: int64

In [411]:
# Identificar la cantidad de valores NaN en la columna
num_nans = df4['FRECUENCIA_PAGO'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['FRECUENCIA_PAGO'].isna(), 'FRECUENCIA_PAGO'] = np.random.choice([
    '¿Pago mensual completo?',
    '¿Pago parcial?',
    '¿Aún no le pagan, pero le van a pagar?',
    '¿No sabe si le van a pagar?',
    '¿Otro?',
    'No recibió pago'
    ], size=num_nans)

In [412]:
conteo = df4['FRECUENCIA_PAGO'].value_counts()
print(conteo)

¿Pago mensual completo?                   24416
¿Pago parcial?                            13015
¿Otro?                                    12854
¿No sabe si le van a pagar?               12527
No recibió pago                           12485
¿Aún no le pagan, pero le van a pagar?    12364
Name: FRECUENCIA_PAGO, dtype: int64

# **PARA** **P530A**

In [413]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P530A': 'GANANCIA_NETA'}, inplace=True)

In [414]:
print(df4['GANANCIA_NETA'].dtype)

object

In [415]:
valores_unicos = df4['GANANCIA_NETA'].unique()
print(valores_unicos)

[' ' '1859' '250' ... '4248' '10028' '2106']

In [416]:
# 1. Eliminar caracteres no deseados.
df4['GANANCIA_NETA'] = df4['GANANCIA_NETA'].str.replace('$', '', regex=False)

# 2. Reemplazar separador de miles (si aplica).
df4['GANANCIA_NETA'] = df4['GANANCIA_NETA'].str.replace(',', '', regex=False)

import numpy as np

# Reemplazar espacios en blanco por NaN
df4['GANANCIA_NETA'].replace(' ', np.nan, inplace=True)

# 3. Convertir la columna a tipo float.
df4['GANANCIA_NETA'] = df4['GANANCIA_NETA'].astype(float)

df4['GANANCIA_NETA'] = df4['GANANCIA_NETA'].round(2)

In [417]:
valores_unicos = df4['GANANCIA_NETA'].unique()
print(valores_unicos)

[   nan  1859.   250. ...  4248. 10028.  2106.]

In [418]:
conteo = df4['GANANCIA_NETA'].value_counts()
print(conteo)

999999.00    3998
1000.00       159
200.00        142
1.00          127
50.00         127
             ...
3473.00         1
3848.00         1
3567.00         1
3345.00         1
2106.00         1
Name: GANANCIA_NETA, Length: 3117, dtype: int64

In [419]:
empty_strings_in_column = (df4['GANANCIA_NETA'] == "").sum()
print(f"Empty string values in GANANCIA_NETA: {empty_strings_in_column}")

nan_in_column = df4['GANANCIA_NETA'].isna().sum()
print(f"NaN values in GANANCIA_NETA: {nan_in_column}")

Empty string values in GANANCIA_NETA: 0
NaN values in GANANCIA_NETA: 60199

In [420]:
## Imputamos campos vacios

df4['GANANCIA_NETA'].fillna(df4['GANANCIA_NETA'].mean(), inplace=True)
##df4['TRABAJÓ_SEM_ANTERIOR'] = df4['TRABAJÓ_SEM_ANTERIOR'].replace("", df4['TRABAJÓ_SEM_ANTERIOR'].mode().iloc[0])

In [421]:
conteo = df4['GANANCIA_NETA'].value_counts()
print(conteo)

146314.82    60199
999999.00     3998
1000.00        159
200.00         142
50.00          127
             ...
1837.00          1
3900.00          1
2234.00          1
4353.00          1
2106.00          1
Name: GANANCIA_NETA, Length: 3118, dtype: int64

In [422]:
nan_in_column = df4['GANANCIA_NETA'].isna().sum()
print(f"NaN values in GANANCIA_NETA: {nan_in_column}")

NaN values in GANANCIA_NETA: 0

# **PARA** **P536**

In [423]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P536': 'GASTO_EN_ PRODUCTOS'}, inplace=True)

In [424]:
print(df4['GASTO_EN_ PRODUCTOS'].dtype)

object

In [425]:
valores_unicos = df4['GASTO_EN_ PRODUCTOS'].unique()
print(valores_unicos)

[' ' '30' '20' '22' '13' '402' '52' '61' '166' '139' '235' '346' '38'
 '197' '352' '69' '228' '350' '10' '43' '85' '110' '463' '306' '326' '257'
 '533' '208' '270' '128' '237' '379' '321' '687' '142' '91' '274' '48'
 '188' '35' '224' '132' '999999' '95' '192' '74' '109' '209' '92' '137'
 '195' '246' '87' '143' '901' '72' '7' '322' '123' '125' '73' '310' '156'
 '114' '303' '130' '158' '44' '207' '104' '4' '244' '147' '16' '178' '301'
 '360' '26' '126' '113' '171' '384' '198' '530' '333' '400' '190' '285'
 '330' '742' '251' '50' '65' '11' '56' '60' '500' '1' '308' '135' '206'
 '83' '46' '5' '1464' '149' '468' '200' '33' '2' '86' '456' '250' '138'
 '415' '140' '366' '275' '339' '505' '82' '231' '266' '185' '215' '264'
 '112' '706' '336' '328' '449' '242' '508' '446' '541' '702' '523' '391'
 '371' '165' '122' '268' '81' '57' '29' '8' '474' '276' '486' '259' '316'
 '458' '144' '356' '176' '90' '6' '84' '103' '660' '191' '169' '689' '829'
 '632' '220' '70' '514' '309' '548' '62' '367' '152' '115' '184' '153'
 '213' '174' '77' '243' '603' '183' '129' '131' '107' '98' '283' '299'
 '241' '225' '161' '47' '189' '238' '55' '27' '157' '430' '284' '170' '58'
 '136' '222' '40' '204' '435' '12' '51' '319' '100' '281' '94' '17' '300'
 '364' '167' '187' '31' '253' '101' '78' '212' '267' '327' '173' '416'
 '650' '24' '758' '1083' '1935' '163' '45' '3' '1299' '1100' '335' '440'
 '9' '311' '404' '256' '1305' '14' '28' '42' '97' '293' '49' '34' '19'
 '378' '150' '75' '227' '254' '186' '219' '134' '217' '39' '41' '334'
 '105' '239' '71' '181' '93' '160' '79' '89' '386' '265' '233' '25' '108'
 '433' '260' '201' '331' '106' '196' '211' '148' '146' '348' '349' '387'
 '411' '36' '68' '18' '127' '21' '203' '230' '120' '236' '154' '388' '76'
 '298' '111' '476' '66' '63' '15' '88' '37' '32' '159' '390' '511' '290'
 '520' '280' '684' '182' '54' '168' '467' '406' '133' '99' '124' '263'
 '714' '314' '423' '389' '23' '175' '216' '116' '96' '775' '240' '323'
 '441' '141' '226' '294' '368' '118' '262' '273' '162' '53' '145' '210'
 '205' '202' '155' '119' '909' '1050' '325' '247' '353' '289' '151' '457'
 '232' '121' '193' '565' '614' '180' '117' '234' '636' '355' '709' '361'
 '613' '693' '1516' '1212' '1321' '1018' '606' '875' '444' '525' '64'
 '453' '179' '420' '586' '582' '804' '295' '1667' '564' '1247' '485' '80'
 '673' '258' '67' '288' '373' '341' '664' '252' '269' '312' '1039' '1250'
 '857' '675' '625' '866' '324' '750' '1000' '297' '392' '550' '794' '532'
 '410' '443' '498' '59' '1091' '722' '223' '454' '546' '480' '624' '888'
 '272' '199' '218' '1500' '591' '589' '358' '307' '302' '424' '292' '825'
 '800' '431' '471' '338' '519' '214' '164' '940' '296' '1374' '102' '277'
 '663' '527' '332' '344' '315' '543' '451' '261' '575' '318' '671' '2800'
 '862' '1125' '408' '177' '569' '504' '715' '229' '399' '398' '375' '455'
 '600' '221' '953' '359' '445' '526' '407' '570' '403' '291' '279' '482'
 '637' '497' '640' '549' '412' '644' '997' '313' '464' '700' '470' '447'
 '374' '448' '426' '287' '978' '286' '787' '792' '351' '425' '342' '347'
 '317' '354' '494' '377' '345' '282' '626' '1273' '450' '849' '2059' '477'
 '248' '394' '694' '418' '405' '488' '172' '553' '422' '516' '363' '343'
 '383' '1350' '305' '413' '255' '718' '370' '461' '397' '619' '1875' '620'
 '717' '521' '623' '691' '376' '568' '1167' '795' '1194' '490' '524' '515'
 '865' '2125' '1335' '1080' '578' '1637' '396' '935' '576' '438' '492'
 '320' '573' '1106' '598' '271' '465' '380' '428' '382' '439' '672' '840'
 '340' '462' '475' '538' '395' '278' '563' '680' '547' '574' '419' '304'
 '833' '910' '648' '577' '931' '512' '329' '827' '740' '707' '337' '878'
 '887' '602' '592' '897' '976' '831' '245' '369' '820' '630' '509' '883'
 '1716' '1133' '605' '365' '479' '741' '2185' '566' '609' '657' '539'
 '432' '701' '442' '491' '713' '579' '594' '401' '719' '506' '385' '194'
 '507' '877' '429' '249' '923' '2352' '1172' '1547' '917' '649' '1023'
 '559' '819' '601' '535' '1118' '517' '913' '427' '1027' '658' '1003'
 '814' '381' '596' '812' '977' '1139' '556' '696' '459' '499' '1351' '999'
 '503' '478' '522' '542' '487' '434' '973' '362' '779' '761' '1086' '501'
 '409' '808' '654' '571' '510' '1143' '1663' '1949' '900' '801' '678'
 '469' '674' '773' '1800' '647' '502' '737' '788' '414' '372' '643' '357'
 '585' '745' '452' '554' '518' '735' '1347' '749' '748' '809' '534' '659'
 '2182' '629' '1184' '393' '767' '955' '495' '1475' '688' '924' '437'
 '950' '1072' '798' '599' '528' '727' '1400' '1061' '496' '662' '848'
 '845' '874' '661' '683' '545' '638' '466' '929' '1093' '1043' '1529'
 '952' '513' '922' '1105' '628' '1383' '918' '2570' '914' '493' '1510'
 '588' '1235' '529' '1038' '790' '3637' '421' '867' '1790' '762' '823'
 '743' '1002' '938' '489' '1200' '587' '2022' '720' '610' '1793' '864'
 '1256' '880' '631' '1313' '1157' '1285' '537' '1830' '756' '734' '736'
 '912' '703' '970' '1697' '850' '607' '1650' '853' '1600' '821' '1638'
 '1414' '1103' '436' '1217' '1546' '872' '669' '540' '721' '1136' '1211'
 '1436' '615' '634' '1081' '417' '481' '1398' '484' '1030' '665' '930'
 '670' '729' '2110' '828' '822' '925' '651' '472' '987' '3000' '752'
 '1243' '555' '768' '975' '1169']

In [426]:
# 1. Eliminar caracteres no deseados.
df4['GASTO_EN_ PRODUCTOS'] = df4['GASTO_EN_ PRODUCTOS'].str.replace('$', '', regex=False)

# 2. Reemplazar separador de miles (si aplica).
df4['GASTO_EN_ PRODUCTOS'] = df4['GASTO_EN_ PRODUCTOS'].str.replace(',', '', regex=False)

import numpy as np

# Reemplazar espacios en blanco por NaN
df4['GASTO_EN_ PRODUCTOS'].replace(' ', np.nan, inplace=True)

# 3. Convertir la columna a tipo float.
df4['GASTO_EN_ PRODUCTOS'] = df4['GASTO_EN_ PRODUCTOS'].astype(float)

df4['GASTO_EN_ PRODUCTOS'] = df4['GASTO_EN_ PRODUCTOS'].round(2)

In [427]:
valores_unicos = df4['GASTO_EN_ PRODUCTOS'].unique()
print(valores_unicos)

[        nan 3.00000e+01 2.00000e+01 2.20000e+01 1.30000e+01 4.02000e+02
 5.20000e+01 6.10000e+01 1.66000e+02 1.39000e+02 2.35000e+02 3.46000e+02
 3.80000e+01 1.97000e+02 3.52000e+02 6.90000e+01 2.28000e+02 3.50000e+02
 1.00000e+01 4.30000e+01 8.50000e+01 1.10000e+02 4.63000e+02 3.06000e+02
 3.26000e+02 2.57000e+02 5.33000e+02 2.08000e+02 2.70000e+02 1.28000e+02
 2.37000e+02 3.79000e+02 3.21000e+02 6.87000e+02 1.42000e+02 9.10000e+01
 2.74000e+02 4.80000e+01 1.88000e+02 3.50000e+01 2.24000e+02 1.32000e+02
 9.99999e+05 9.50000e+01 1.92000e+02 7.40000e+01 1.09000e+02 2.09000e+02
 9.20000e+01 1.37000e+02 1.95000e+02 2.46000e+02 8.70000e+01 1.43000e+02
 9.01000e+02 7.20000e+01 7.00000e+00 3.22000e+02 1.23000e+02 1.25000e+02
 7.30000e+01 3.10000e+02 1.56000e+02 1.14000e+02 3.03000e+02 1.30000e+02
 1.58000e+02 4.40000e+01 2.07000e+02 1.04000e+02 4.00000e+00 2.44000e+02
 1.47000e+02 1.60000e+01 1.78000e+02 3.01000e+02 3.60000e+02 2.60000e+01
 1.26000e+02 1.13000e+02 1.71000e+02 3.84000e+02 1.98000e+02 5.30000e+02
 3.33000e+02 4.00000e+02 1.90000e+02 2.85000e+02 3.30000e+02 7.42000e+02
 2.51000e+02 5.00000e+01 6.50000e+01 1.10000e+01 5.60000e+01 6.00000e+01
 5.00000e+02 1.00000e+00 3.08000e+02 1.35000e+02 2.06000e+02 8.30000e+01
 4.60000e+01 5.00000e+00 1.46400e+03 1.49000e+02 4.68000e+02 2.00000e+02
 3.30000e+01 2.00000e+00 8.60000e+01 4.56000e+02 2.50000e+02 1.38000e+02
 4.15000e+02 1.40000e+02 3.66000e+02 2.75000e+02 3.39000e+02 5.05000e+02
 8.20000e+01 2.31000e+02 2.66000e+02 1.85000e+02 2.15000e+02 2.64000e+02
 1.12000e+02 7.06000e+02 3.36000e+02 3.28000e+02 4.49000e+02 2.42000e+02
 5.08000e+02 4.46000e+02 5.41000e+02 7.02000e+02 5.23000e+02 3.91000e+02
 3.71000e+02 1.65000e+02 1.22000e+02 2.68000e+02 8.10000e+01 5.70000e+01
 2.90000e+01 8.00000e+00 4.74000e+02 2.76000e+02 4.86000e+02 2.59000e+02
 3.16000e+02 4.58000e+02 1.44000e+02 3.56000e+02 1.76000e+02 9.00000e+01
 6.00000e+00 8.40000e+01 1.03000e+02 6.60000e+02 1.91000e+02 1.69000e+02
 6.89000e+02 8.29000e+02 6.32000e+02 2.20000e+02 7.00000e+01 5.14000e+02
 3.09000e+02 5.48000e+02 6.20000e+01 3.67000e+02 1.52000e+02 1.15000e+02
 1.84000e+02 1.53000e+02 2.13000e+02 1.74000e+02 7.70000e+01 2.43000e+02
 6.03000e+02 1.83000e+02 1.29000e+02 1.31000e+02 1.07000e+02 9.80000e+01
 2.83000e+02 2.99000e+02 2.41000e+02 2.25000e+02 1.61000e+02 4.70000e+01
 1.89000e+02 2.38000e+02 5.50000e+01 2.70000e+01 1.57000e+02 4.30000e+02
 2.84000e+02 1.70000e+02 5.80000e+01 1.36000e+02 2.22000e+02 4.00000e+01
 2.04000e+02 4.35000e+02 1.20000e+01 5.10000e+01 3.19000e+02 1.00000e+02
 2.81000e+02 9.40000e+01 1.70000e+01 3.00000e+02 3.64000e+02 1.67000e+02
 1.87000e+02 3.10000e+01 2.53000e+02 1.01000e+02 7.80000e+01 2.12000e+02
 2.67000e+02 3.27000e+02 1.73000e+02 4.16000e+02 6.50000e+02 2.40000e+01
 7.58000e+02 1.08300e+03 1.93500e+03 1.63000e+02 4.50000e+01 3.00000e+00
 1.29900e+03 1.10000e+03 3.35000e+02 4.40000e+02 9.00000e+00 3.11000e+02
 4.04000e+02 2.56000e+02 1.30500e+03 1.40000e+01 2.80000e+01 4.20000e+01
 9.70000e+01 2.93000e+02 4.90000e+01 3.40000e+01 1.90000e+01 3.78000e+02
 1.50000e+02 7.50000e+01 2.27000e+02 2.54000e+02 1.86000e+02 2.19000e+02
 1.34000e+02 2.17000e+02 3.90000e+01 4.10000e+01 3.34000e+02 1.05000e+02
 2.39000e+02 7.10000e+01 1.81000e+02 9.30000e+01 1.60000e+02 7.90000e+01
 8.90000e+01 3.86000e+02 2.65000e+02 2.33000e+02 2.50000e+01 1.08000e+02
 4.33000e+02 2.60000e+02 2.01000e+02 3.31000e+02 1.06000e+02 1.96000e+02
 2.11000e+02 1.48000e+02 1.46000e+02 3.48000e+02 3.49000e+02 3.87000e+02
 4.11000e+02 3.60000e+01 6.80000e+01 1.80000e+01 1.27000e+02 2.10000e+01
 2.03000e+02 2.30000e+02 1.20000e+02 2.36000e+02 1.54000e+02 3.88000e+02
 7.60000e+01 2.98000e+02 1.11000e+02 4.76000e+02 6.60000e+01 6.30000e+01
 1.50000e+01 8.80000e+01 3.70000e+01 3.20000e+01 1.59000e+02 3.90000e+02
 5.11000e+02 2.90000e+02 5.20000e+02 2.80000e+02 6.84000e+02 1.82000e+02
 5.40000e+01 1.68000e+02 4.67000e+02 4.06000e+02 1.33000e+02 9.90000e+01
 1.24000e+02 2.63000e+02 7.14000e+02 3.14000e+02 4.23000e+02 3.89000e+02
 2.30000e+01 1.75000e+02 2.16000e+02 1.16000e+02 9.60000e+01 7.75000e+02
 2.40000e+02 3.23000e+02 4.41000e+02 1.41000e+02 2.26000e+02 2.94000e+02
 3.68000e+02 1.18000e+02 2.62000e+02 2.73000e+02 1.62000e+02 5.30000e+01
 1.45000e+02 2.10000e+02 2.05000e+02 2.02000e+02 1.55000e+02 1.19000e+02
 9.09000e+02 1.05000e+03 3.25000e+02 2.47000e+02 3.53000e+02 2.89000e+02
 1.51000e+02 4.57000e+02 2.32000e+02 1.21000e+02 1.93000e+02 5.65000e+02
 6.14000e+02 1.80000e+02 1.17000e+02 2.34000e+02 6.36000e+02 3.55000e+02
 7.09000e+02 3.61000e+02 6.13000e+02 6.93000e+02 1.51600e+03 1.21200e+03
 1.32100e+03 1.01800e+03 6.06000e+02 8.75000e+02 4.44000e+02 5.25000e+02
 6.40000e+01 4.53000e+02 1.79000e+02 4.20000e+02 5.86000e+02 5.82000e+02
 8.04000e+02 2.95000e+02 1.66700e+03 5.64000e+02 1.24700e+03 4.85000e+02
 8.00000e+01 6.73000e+02 2.58000e+02 6.70000e+01 2.88000e+02 3.73000e+02
 3.41000e+02 6.64000e+02 2.52000e+02 2.69000e+02 3.12000e+02 1.03900e+03
 1.25000e+03 8.57000e+02 6.75000e+02 6.25000e+02 8.66000e+02 3.24000e+02
 7.50000e+02 1.00000e+03 2.97000e+02 3.92000e+02 5.50000e+02 7.94000e+02
 5.32000e+02 4.10000e+02 4.43000e+02 4.98000e+02 5.90000e+01 1.09100e+03
 7.22000e+02 2.23000e+02 4.54000e+02 5.46000e+02 4.80000e+02 6.24000e+02
 8.88000e+02 2.72000e+02 1.99000e+02 2.18000e+02 1.50000e+03 5.91000e+02
 5.89000e+02 3.58000e+02 3.07000e+02 3.02000e+02 4.24000e+02 2.92000e+02
 8.25000e+02 8.00000e+02 4.31000e+02 4.71000e+02 3.38000e+02 5.19000e+02
 2.14000e+02 1.64000e+02 9.40000e+02 2.96000e+02 1.37400e+03 1.02000e+02
 2.77000e+02 6.63000e+02 5.27000e+02 3.32000e+02 3.44000e+02 3.15000e+02
 5.43000e+02 4.51000e+02 2.61000e+02 5.75000e+02 3.18000e+02 6.71000e+02
 2.80000e+03 8.62000e+02 1.12500e+03 4.08000e+02 1.77000e+02 5.69000e+02
 5.04000e+02 7.15000e+02 2.29000e+02 3.99000e+02 3.98000e+02 3.75000e+02
 4.55000e+02 6.00000e+02 2.21000e+02 9.53000e+02 3.59000e+02 4.45000e+02
 5.26000e+02 4.07000e+02 5.70000e+02 4.03000e+02 2.91000e+02 2.79000e+02
 4.82000e+02 6.37000e+02 4.97000e+02 6.40000e+02 5.49000e+02 4.12000e+02
 6.44000e+02 9.97000e+02 3.13000e+02 4.64000e+02 7.00000e+02 4.70000e+02
 4.47000e+02 3.74000e+02 4.48000e+02 4.26000e+02 2.87000e+02 9.78000e+02
 2.86000e+02 7.87000e+02 7.92000e+02 3.51000e+02 4.25000e+02 3.42000e+02
 3.47000e+02 3.17000e+02 3.54000e+02 4.94000e+02 3.77000e+02 3.45000e+02
 2.82000e+02 6.26000e+02 1.27300e+03 4.50000e+02 8.49000e+02 2.05900e+03
 4.77000e+02 2.48000e+02 3.94000e+02 6.94000e+02 4.18000e+02 4.05000e+02
 4.88000e+02 1.72000e+02 5.53000e+02 4.22000e+02 5.16000e+02 3.63000e+02
 3.43000e+02 3.83000e+02 1.35000e+03 3.05000e+02 4.13000e+02 2.55000e+02
 7.18000e+02 3.70000e+02 4.61000e+02 3.97000e+02 6.19000e+02 1.87500e+03
 6.20000e+02 7.17000e+02 5.21000e+02 6.23000e+02 6.91000e+02 3.76000e+02
 5.68000e+02 1.16700e+03 7.95000e+02 1.19400e+03 4.90000e+02 5.24000e+02
 5.15000e+02 8.65000e+02 2.12500e+03 1.33500e+03 1.08000e+03 5.78000e+02
 1.63700e+03 3.96000e+02 9.35000e+02 5.76000e+02 4.38000e+02 4.92000e+02
 3.20000e+02 5.73000e+02 1.10600e+03 5.98000e+02 2.71000e+02 4.65000e+02
 3.80000e+02 4.28000e+02 3.82000e+02 4.39000e+02 6.72000e+02 8.40000e+02
 3.40000e+02 4.62000e+02 4.75000e+02 5.38000e+02 3.95000e+02 2.78000e+02
 5.63000e+02 6.80000e+02 5.47000e+02 5.74000e+02 4.19000e+02 3.04000e+02
 8.33000e+02 9.10000e+02 6.48000e+02 5.77000e+02 9.31000e+02 5.12000e+02
 3.29000e+02 8.27000e+02 7.40000e+02 7.07000e+02 3.37000e+02 8.78000e+02
 8.87000e+02 6.02000e+02 5.92000e+02 8.97000e+02 9.76000e+02 8.31000e+02
 2.45000e+02 3.69000e+02 8.20000e+02 6.30000e+02 5.09000e+02 8.83000e+02
 1.71600e+03 1.13300e+03 6.05000e+02 3.65000e+02 4.79000e+02 7.41000e+02
 2.18500e+03 5.66000e+02 6.09000e+02 6.57000e+02 5.39000e+02 4.32000e+02
 7.01000e+02 4.42000e+02 4.91000e+02 7.13000e+02 5.79000e+02 5.94000e+02
 4.01000e+02 7.19000e+02 5.06000e+02 3.85000e+02 1.94000e+02 5.07000e+02
 8.77000e+02 4.29000e+02 2.49000e+02 9.23000e+02 2.35200e+03 1.17200e+03
 1.54700e+03 9.17000e+02 6.49000e+02 1.02300e+03 5.59000e+02 8.19000e+02
 6.01000e+02 5.35000e+02 1.11800e+03 5.17000e+02 9.13000e+02 4.27000e+02
 1.02700e+03 6.58000e+02 1.00300e+03 8.14000e+02 3.81000e+02 5.96000e+02
 8.12000e+02 9.77000e+02 1.13900e+03 5.56000e+02 6.96000e+02 4.59000e+02
 4.99000e+02 1.35100e+03 9.99000e+02 5.03000e+02 4.78000e+02 5.22000e+02
 5.42000e+02 4.87000e+02 4.34000e+02 9.73000e+02 3.62000e+02 7.79000e+02
 7.61000e+02 1.08600e+03 5.01000e+02 4.09000e+02 8.08000e+02 6.54000e+02
 5.71000e+02 5.10000e+02 1.14300e+03 1.66300e+03 1.94900e+03 9.00000e+02
 8.01000e+02 6.78000e+02 4.69000e+02 6.74000e+02 7.73000e+02 1.80000e+03
 6.47000e+02 5.02000e+02 7.37000e+02 7.88000e+02 4.14000e+02 3.72000e+02
 6.43000e+02 3.57000e+02 5.85000e+02 7.45000e+02 4.52000e+02 5.54000e+02
 5.18000e+02 7.35000e+02 1.34700e+03 7.49000e+02 7.48000e+02 8.09000e+02
 5.34000e+02 6.59000e+02 2.18200e+03 6.29000e+02 1.18400e+03 3.93000e+02
 7.67000e+02 9.55000e+02 4.95000e+02 1.47500e+03 6.88000e+02 9.24000e+02
 4.37000e+02 9.50000e+02 1.07200e+03 7.98000e+02 5.99000e+02 5.28000e+02
 7.27000e+02 1.40000e+03 1.06100e+03 4.96000e+02 6.62000e+02 8.48000e+02
 8.45000e+02 8.74000e+02 6.61000e+02 6.83000e+02 5.45000e+02 6.38000e+02
 4.66000e+02 9.29000e+02 1.09300e+03 1.04300e+03 1.52900e+03 9.52000e+02
 5.13000e+02 9.22000e+02 1.10500e+03 6.28000e+02 1.38300e+03 9.18000e+02
 2.57000e+03 9.14000e+02 4.93000e+02 1.51000e+03 5.88000e+02 1.23500e+03
 5.29000e+02 1.03800e+03 7.90000e+02 3.63700e+03 4.21000e+02 8.67000e+02
 1.79000e+03 7.62000e+02 8.23000e+02 7.43000e+02 1.00200e+03 9.38000e+02
 4.89000e+02 1.20000e+03 5.87000e+02 2.02200e+03 7.20000e+02 6.10000e+02
 1.79300e+03 8.64000e+02 1.25600e+03 8.80000e+02 6.31000e+02 1.31300e+03
 1.15700e+03 1.28500e+03 5.37000e+02 1.83000e+03 7.56000e+02 7.34000e+02
 7.36000e+02 9.12000e+02 7.03000e+02 9.70000e+02 1.69700e+03 8.50000e+02
 6.07000e+02 1.65000e+03 8.53000e+02 1.60000e+03 8.21000e+02 1.63800e+03
 1.41400e+03 1.10300e+03 4.36000e+02 1.21700e+03 1.54600e+03 8.72000e+02
 6.69000e+02 5.40000e+02 7.21000e+02 1.13600e+03 1.21100e+03 1.43600e+03
 6.15000e+02 6.34000e+02 1.08100e+03 4.17000e+02 4.81000e+02 1.39800e+03
 4.84000e+02 1.03000e+03 6.65000e+02 9.30000e+02 6.70000e+02 7.29000e+02
 2.11000e+03 8.28000e+02 8.22000e+02 9.25000e+02 6.51000e+02 4.72000e+02
 9.87000e+02 3.00000e+03 7.52000e+02 1.24300e+03 5.55000e+02 7.68000e+02
 9.75000e+02 1.16900e+03]

In [428]:
conteo = df4['GASTO_EN_ PRODUCTOS'].value_counts()
print(conteo)

999999.00    1080
43.00         340
87.00         283
50.00         254
22.00         250
             ...
658.00          1
1003.00         1
814.00          1
596.00          1
1169.00         1
Name: GASTO_EN_ PRODUCTOS, Length: 853, dtype: int64

In [429]:
empty_strings_in_column = (df4['GASTO_EN_ PRODUCTOS'] == "").sum()
print(f"Empty string values in GASTO_EN_ PRODUCTOS: {empty_strings_in_column}")

nan_in_column = df4['GASTO_EN_ PRODUCTOS'].isna().sum()
print(f"NaN values in GASTO_EN_ PRODUCTOS: {nan_in_column}")

Empty string values in GASTO_EN_ PRODUCTOS: 0
NaN values in GASTO_EN_ PRODUCTOS: 70371

In [430]:
## Imputamos campos vacios

df4['GASTO_EN_ PRODUCTOS'].fillna(df4['GASTO_EN_ PRODUCTOS'].mean(), inplace=True)

In [431]:
conteo = df4['GASTO_EN_ PRODUCTOS'].value_counts()
print(conteo)

62626.19     70371
999999.00     1080
43.00          340
87.00          283
50.00          254
             ...
658.00           1
1003.00          1
814.00           1
596.00           1
1169.00          1
Name: GASTO_EN_ PRODUCTOS, Length: 854, dtype: int64

In [432]:
nan_in_column = df4['GASTO_EN_ PRODUCTOS'].isna().sum()
print(f"NaN values in GASTO_EN_ PRODUCTOS: {nan_in_column}")

NaN values in GASTO_EN_ PRODUCTOS: 0

# **PARA** **P555**

In [433]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P555': 'LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'}, inplace=True)

In [434]:
valores_unicos = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].unique()
print(valores_unicos)

[' ' '2' '3' '4' '1' '5' '6' '7']

In [435]:
conteo = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].value_counts()
print(conteo)

     68723
3     5459
2     5186
4     4659
5     2391
6     1009
1      139
7       95
Name: LABOR_DESEMPEÑO_TRABAJO_ANTERIOR, dtype: int64

In [436]:
mapeo_str7 = {
    '1': "Empleador o patrono",
    '2': "Trabajador Independiente",
    '3': "Empleado",
    '4': "Obrero",
    '5': "Trabajador familiar no remunerado",
    '6': "Trabajador del hogar",
    '7': "Otro",
    ' ':np.nan
}

df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'] = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].map(mapeo_str7)

In [437]:
valores_unicos = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].unique()
print(valores_unicos)

[nan 'Trabajador Independiente' 'Empleado' 'Obrero' 'Empleador o patrono'
 'Trabajador familiar no remunerado' 'Trabajador del hogar' 'Otro']

In [438]:
conteo = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].value_counts()
print(conteo)

Empleado                             5459
Trabajador Independiente             5186
Obrero                               4659
Trabajador familiar no remunerado    2391
Trabajador del hogar                 1009
Empleador o patrono                   139
Otro                                   95
Name: LABOR_DESEMPEÑO_TRABAJO_ANTERIOR, dtype: int64

In [439]:
import numpy as np

# Identificar la cantidad de valores NaN en la columna
num_nans = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].isna().sum()

# Rellenar los valores NaN con "Sí" o "No" aleatoriamente
df4.loc[df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].isna(), 'LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'] = np.random.choice([
    'Trabajador Independiente',
    'Empleado',
    'Obrero',
    'Empleador o patrono',
    'Trabajador familiar no remunerado',
    'Trabajador del hogar'
    ], size=num_nans)

In [440]:
conteo = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].value_counts()
print(conteo)

Empleado                             16778
Trabajador Independiente             16605
Obrero                               16087
Trabajador familiar no remunerado    13951
Trabajador del hogar                 12438
Empleador o patrono                  11707
Otro                                    95
Name: LABOR_DESEMPEÑO_TRABAJO_ANTERIOR, dtype: int64

In [441]:
empty_strings_in_column = (df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'] == "").sum()
print(f"Empty string values in LABOR_DESEMPEÑO_TRABAJO_ANTERIOR: {empty_strings_in_column}")

nan_in_column = df4['LABOR_DESEMPEÑO_TRABAJO_ANTERIOR'].isna().sum()
print(f"NaN values in LABOR_DESEMPEÑO_TRABAJO_ANTERIOR: {nan_in_column}")

Empty string values in LABOR_DESEMPEÑO_TRABAJO_ANTERIOR: 0
NaN values in LABOR_DESEMPEÑO_TRABAJO_ANTERIOR: 0

# **PARA** **P207**

In [442]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P207': 'SEXO'}, inplace=True)

In [443]:
valores_unicos = df4['SEXO'].unique()
print(valores_unicos)

[1 2]

In [444]:
conteo = df4['SEXO'].value_counts()
print(conteo)

2    45702
1    41959
Name: SEXO, dtype: int64

In [445]:
## Reemplazamos valores NaN primero
df4['SEXO'] = df4['SEXO'].fillna('Desconocido')

## Reemplazamos por valores categóricos
mapeo_str12 = {
    1: "Hombre",
    2: "Mujer",
    'Desconocido': "Desconocido"
}

df4['SEXO'] = df4['SEXO'].map(mapeo_str12)

In [446]:
nan_in_column = df4['SEXO'].isna().sum()
print(f"NaN values in SEXO: {nan_in_column}")

NaN values in SEXO: 0

In [447]:
valores_unicos = df4['SEXO'].unique()
print(valores_unicos)

['Hombre' 'Mujer']

In [448]:
conteo = df4['SEXO'].value_counts()
print(conteo)

Mujer     45702
Hombre    41959
Name: SEXO, dtype: int64

# **PARA** **P208A**

In [449]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P208A': 'EDAD'}, inplace=True)

In [450]:
valores_unicos = df4['EDAD'].unique()
print(valores_unicos)

[57 22 63 62 30 89 80 40 37 19 18 25 44 59 53 35 31 39 34 51 60 50 23 16
 85 75 77 55 70 14 71 43 49 27 26 54 72 88 45 67 64 81 83 38 15 21 56 17
 58 68 65 61 86 76 36 74 24 52 20 46 41 28 32 47 79 98 78 42 73 29 48 33
 66 69 90 95 82 91 84 87 93 94 92 96 97]

In [451]:
conteo = df4['EDAD'].value_counts()
print(conteo)

14    2393
17    2356
15    2280
16    2214
18    2067
      ...
98      53
94      42
96      35
95      33
97      20
Name: EDAD, Length: 85, dtype: int64

In [452]:
mediana_edad = df4['EDAD'].median()
print(mediana_edad)

41.0

In [453]:
df4['EDAD'].fillna(df4['EDAD'].median(), inplace=True)

In [454]:
valores_unicos = df4['EDAD'].unique()
print(valores_unicos)

[57 22 63 62 30 89 80 40 37 19 18 25 44 59 53 35 31 39 34 51 60 50 23 16
 85 75 77 55 70 14 71 43 49 27 26 54 72 88 45 67 64 81 83 38 15 21 56 17
 58 68 65 61 86 76 36 74 24 52 20 46 41 28 32 47 79 98 78 42 73 29 48 33
 66 69 90 95 82 91 84 87 93 94 92 96 97]

# **PARA** **P209**

In [455]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P209': 'ESTADO_CIVIL'}, inplace=True)

In [456]:
valores_unicos = df4['ESTADO_CIVIL'].unique()
print(valores_unicos)

[4 6 2 1 5 3]

In [457]:
conteo = df4['ESTADO_CIVIL'].value_counts()
print(conteo)

6    28024
1    22696
2    22030
5     8944
3     5400
4      567
Name: ESTADO_CIVIL, dtype: int64

In [458]:
## Reemplazamos por valores categóricos

mapeo_str12 = {
    1: "Conviviente",
    2: "Casado(a)",
    3: "Viudo(a)",
    4: "Divorciado(a)",
    5: "Separado(a)",
    6: "Soltero(a)"
}

df4['ESTADO_CIVIL'] = df4['ESTADO_CIVIL'].map(mapeo_str12)

In [459]:
mediana_estado = df4['ESTADO_CIVIL'].mode()
print(mediana_estado)

0    Soltero(a)
Name: ESTADO_CIVIL, dtype: object

In [460]:
cantidad_nan = df4['ESTADO_CIVIL'].isna().sum()
print(cantidad_nan)

0

In [461]:
df4['ESTADO_CIVIL'].fillna(df4['ESTADO_CIVIL'].mode().iloc[0], inplace=True)

In [462]:
cantidad_nan = df4['ESTADO_CIVIL'].isna().sum()
print(cantidad_nan)

0

In [463]:
nan_in_column = df4['ESTADO_CIVIL'].isna().sum()
print(f"NaN values in ESTADO_CIVIL: {nan_in_column}")

NaN values in ESTADO_CIVIL: 0

In [464]:
conteo = df4['ESTADO_CIVIL'].value_counts()
print(conteo)

Soltero(a)       28024
Conviviente      22696
Casado(a)        22030
Separado(a)       8944
Viudo(a)          5400
Divorciado(a)      567
Name: ESTADO_CIVIL, dtype: int64

# **PARA** **P301A**

In [465]:
## Cambiamos el nombre de la columna
df4.rename(columns={'P301A': 'GRADO_DE_INSTRUCCION'}, inplace=True)

In [466]:
valores_unicos = df4['GRADO_DE_INSTRUCCION'].unique()
print(valores_unicos)

['11' '7' '10' '8' '4' '9' '6' '3' '5' '1' ' ' '12' '2']

In [467]:
conteo = df4['GRADO_DE_INSTRUCCION'].value_counts()
print(conteo)

6     22722
5     15475
3     11070
4      9742
8      6838
10     6552
9      5264
1      4613
7      3797
11     1345
12      105
2        76
         62
Name: GRADO_DE_INSTRUCCION, dtype: int64

In [468]:
cantidad_nan = df4['GRADO_DE_INSTRUCCION'].isna().sum()
print(cantidad_nan)

0

In [469]:
## Reemplazamos por valores categóricos

mapeo_str12 = {
    '1': "Sin Nivel",
    '2': "Inicial",
    '3': "Primaria Incompleta",
    '4': "Primaria Completa",
    '5': "Secundaria Incompleta",
    '6': "Secundaria Completa",
    '7': "Superior No Universitaria Incompleta",
    '8': "Superior No Universitaria Completa",
    '9': "Superior Universitaria Incompleta",
    '10': "Superior Universitaria Completa",
    '11': "Maestria/Doctorado",
    '12': "Básica especial"

}

df4['GRADO_DE_INSTRUCCION'] = df4['GRADO_DE_INSTRUCCION'].map(mapeo_str12)

In [470]:
conteo = df4['GRADO_DE_INSTRUCCION'].value_counts()
print(conteo)

Secundaria Completa                     22722
Secundaria Incompleta                   15475
Primaria Incompleta                     11070
Primaria Completa                        9742
Superior No Universitaria Completa       6838
Superior Universitaria Completa          6552
Superior Universitaria Incompleta        5264
Sin Nivel                                4613
Superior No Universitaria Incompleta     3797
Maestria/Doctorado                       1345
Básica especial                           105
Inicial                                    76
Name: GRADO_DE_INSTRUCCION, dtype: int64

In [471]:
nan_in_column = df4['GRADO_DE_INSTRUCCION'].isna().sum()
print(f"NaN values in GRADO_DE_INSTRUCCION: {nan_in_column}")

NaN values in GRADO_DE_INSTRUCCION: 62

In [472]:
## Imputamos campos vacios

df4['GRADO_DE_INSTRUCCION'].fillna(df4['GRADO_DE_INSTRUCCION'].mode().iloc[0], inplace=True)

In [473]:
nan_in_column = df4['GRADO_DE_INSTRUCCION'].isna().sum()
print(f"NaN values in GRADO_DE_INSTRUCCION: {nan_in_column}")

NaN values in GRADO_DE_INSTRUCCION: 0

In [474]:
df4.to_csv('Empleo_e_ingresos_final.csv', encoding='ISO-8859-1', index=False)

In [475]:
filename = "Empleo_e_ingresos_final.csv"
df_final = pd.read_csv(filename, sep=',', encoding='ISO-8859-1', low_memory=False)
df_final.head(10)

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,TRABAJÓ_SEM_ANTERIOR,EMPLEO_FIJO_A_VOLVER,...,TUVO_OTRO_TRABAJO,BUSCA_TRABAJO,FRECUENCIA_PAGO,GANANCIA_NETA,GASTO_EN_ PRODUCTOS,LABOR_DESEMPEÑO_TRABAJO_ANTERIOR,SEXO,EDAD,ESTADO_CIVIL,GRADO_DE_INSTRUCCION
0,2022,2,5007,3,11,1,10101,Sierra Norte,Si,No,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.82,62626.19,Obrero,Hombre,57,Divorciado(a),Maestria/Doctorado
1,2022,2,5007,12,11,1,10101,Sierra Norte,Si,Si,...,Si,No busco otro trabajo,¿Pago mensual completo?,146314.82,62626.19,Trabajador del hogar,Mujer,22,Soltero(a),Superior No Universitaria Incompleta
2,2022,2,5007,22,11,1,10101,Sierra Norte,Si,No,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.82,62626.19,Obrero,Hombre,63,Casado(a),Superior Universitaria Completa
3,2022,2,5007,22,11,2,10101,Sierra Norte,Si,Si,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.82,62626.19,Empleado,Mujer,62,Casado(a),Superior Universitaria Completa
4,2022,2,5007,22,11,3,10101,Sierra Norte,Si,No,...,No,No busco otro trabajo,¿No sabe si le van a pagar?,1859.00,62626.19,Trabajador del hogar,Hombre,30,Soltero(a),Superior No Universitaria Completa
5,2022,2,5007,50,11,1,10101,Sierra Norte,No,No,...,Si,No busco otro trabajo,¿No sabe si le van a pagar?,146314.82,62626.19,Trabajador Independiente,Hombre,89,Casado(a),Primaria Completa
6,2022,2,5007,50,11,2,10101,Sierra Norte,No,No,...,No,No busco otro trabajo,No recibió pago,146314.82,62626.19,Trabajador Independiente,Mujer,80,Casado(a),Primaria Completa
7,2022,2,5007,50,11,3,10101,Sierra Norte,No,No,...,Si,No busco otro trabajo,"¿Aún no le pagan, pero le van a pagar?",146314.82,62626.19,Empleado,Hombre,22,Soltero(a),Superior Universitaria Incompleta
8,2022,3,5009,56,11,1,10101,Sierra Norte,Si,Si,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.82,62626.19,Trabajador del hogar,Hombre,40,Conviviente,Secundaria Completa
9,2022,3,5009,56,11,2,10101,Sierra Norte,Si,Si,...,Si,No busco otro trabajo,¿Pago mensual completo?,146314.82,62626.19,Trabajador del hogar,Mujer,37,Conviviente,Secundaria Completa

In [476]:
df_final.shape

(87661, 26)