<a href="https://colab.research.google.com/github/KleverGH/DATA_MINING/blob/main/UNION_DATASET_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df1 = pd.read_csv("Dataset/Empleo_e_ingresos_final.csv", encoding='ISO-8859-1')
df1.head()

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,TRABAJÓ_SEM_ANTERIOR,EMPLEO_FIJO_A_VOLVER,...,TUVO_OTRO_TRABAJO,BUSCA_TRABAJO,FRECUENCIA_PAGO,GANANCIA_NETA,GASTO_EN_ PRODUCTOS,LABOR_DESEMPEÑO_TRABAJO_ANTERIOR,SEXO,EDAD,ESTADO_CIVIL,GRADO_DE_INSTRUCCION
0,2022,2,5007,3,11,1,10101,Sierra Norte,Si,No,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.818622,62626.189358,Obrero,Hombre,57,Divorciado(a),Maestria/Doctorado
1,2022,2,5007,12,11,1,10101,Sierra Norte,Si,Si,...,Si,No busco otro trabajo,¿Pago mensual completo?,146314.818622,62626.189358,Trabajador del hogar,Mujer,22,Soltero(a),Superior No Universitaria Incompleta
2,2022,2,5007,22,11,1,10101,Sierra Norte,Si,No,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.818622,62626.189358,Obrero,Hombre,63,Casado(a),Superior Universitaria Completa
3,2022,2,5007,22,11,2,10101,Sierra Norte,Si,Si,...,No,No busco otro trabajo,¿Pago mensual completo?,146314.818622,62626.189358,Empleado,Mujer,62,Casado(a),Superior Universitaria Completa
4,2022,2,5007,22,11,3,10101,Sierra Norte,Si,No,...,No,No busco otro trabajo,¿No sabe si le van a pagar?,1859.000000,62626.189358,Trabajador del hogar,Hombre,30,Soltero(a),Superior No Universitaria Completa

In [ ]:
df1.shape

(87661, 26)

In [ ]:
df2 = pd.read_csv("Dataset/Caracteristicas_Viviendas.csv", encoding='ISO-8859-1')
df2.head()

,AÃO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,TIPO_VIVIENDA,MATERIAL_PAREDES,...,AGUA,ACCESO_AGUA,TIENE_TELEFONO,TIENE_CELULAR,TIENE_TV,TIENE_INTERNET,SIN_SERVICIOS_HIGIENICOS,NIÃOS_NO_COLEGIO,LONGITUD,LATITUD
0,2022,2,5007,3,11,10101,Sierra Norte,De 20 000 a 49 999 habitantes,Casa independiente,Adobe,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,0,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
1,2022,2,5007,12,11,10101,Sierra Norte,De 20 000 a 49 999 habitantes,Vivienda en casa de vecindad,Tapia,...,"Red pÃºblica, fuera de la vivienda pero dentro...",Si,0,1,0,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
2,2022,2,5007,22,11,10101,Sierra Norte,De 20 000 a 49 999 habitantes,Casa independiente,Adobe,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,1,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
3,2022,2,5007,31,11,10101,Sierra Norte,De 20 000 a 49 999 habitantes,Casa independiente,Ladrillo o bloque de cemento,...,"Red pÃºblica, dentro de la vivienda",Si,D,D,D,D,D,D,-77.873924,-6.229049
4,2022,2,5007,50,11,10101,Sierra Norte,De 20 000 a 49 999 habitantes,Casa independiente,Ladrillo o bloque de cemento,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,0,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049

In [ ]:
df2.shape

(44122, 22)

In [ ]:
merged_df = df1.merge(df2, on=['CONGLOME', 'VIVIENDA', 'HOGAR'], how='inner')

In [ ]:
merged_df.shape

(87661, 45)

In [ ]:
merged_df.head()

,AÑO,MES_x,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO_x,DOMINIO_x,TRABAJÓ_SEM_ANTERIOR,EMPLEO_FIJO_A_VOLVER,...,AGUA,ACCESO_AGUA,TIENE_TELEFONO,TIENE_CELULAR,TIENE_TV,TIENE_INTERNET,SIN_SERVICIOS_HIGIENICOS,NIÃOS_NO_COLEGIO,LONGITUD,LATITUD
0,2022,2,5007,3,11,1,10101,Sierra Norte,Si,No,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,0,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
1,2022,2,5007,12,11,1,10101,Sierra Norte,Si,Si,...,"Red pÃºblica, fuera de la vivienda pero dentro...",Si,0,1,0,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
2,2022,2,5007,22,11,1,10101,Sierra Norte,Si,No,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,1,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
3,2022,2,5007,22,11,2,10101,Sierra Norte,Si,Si,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,1,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049
4,2022,2,5007,22,11,3,10101,Sierra Norte,Si,No,...,"Red pÃºblica, dentro de la vivienda",Si,0,1,1,1,Con servicios higiÃ©nicos,Hogares con niÃ±os que asisten a la escuela,-77.873924,-6.229049

In [ ]:
merged_df.columns

Index(['AÑO', 'MES_x', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO_x',
       'DOMINIO_x', 'TRABAJÓ_SEM_ANTERIOR', 'EMPLEO_FIJO_A_VOLVER',
       'RAZÓN_NO_TRABAJÓ', 'LABOR_QUE_DESEMPEÑA', 'REGISTRO_EMPRESA',
       'TIPO_CONTRATO', 'HORAS_TRABAJO_SEM_ANTERIOR', 'TIEMPO_TRABAJO_AÑOS',
       'TUVO_OTRO_TRABAJO', 'BUSCA_TRABAJO', 'FRECUENCIA_PAGO',
       'GANANCIA_NETA', 'GASTO_EN_ PRODUCTOS',
       'LABOR_DESEMPEÑO_TRABAJO_ANTERIOR', 'SEXO', 'EDAD', 'ESTADO_CIVIL',
       'GRADO_DE_INSTRUCCION', 'AÃO', 'MES_y', 'UBIGEO_y', 'DOMINIO_y',
       'ESTRATO', 'TIPO_VIVIENDA', 'MATERIAL_PAREDES', 'NUM_HABITACIONES',
       'ESTADO', 'AGUA', 'ACCESO_AGUA', 'TIENE_TELEFONO', 'TIENE_CELULAR',
       'TIENE_TV', 'TIENE_INTERNET', 'SIN_SERVICIOS_HIGIENICOS',
       'NIÃOS_NO_COLEGIO', 'LONGITUD', 'LATITUD'],
      dtype='object')

In [ ]:
merged_df = merged_df.drop(columns=['AÃO', 'MES_y', 'UBIGEO_y', 'DOMINIO_y'])

In [ ]:
df3 = pd.read_csv("Dataset/Gastos_final.csv", encoding='ISO-8859-1')
df3.head(10)

,CONGLOME,VIVIENDA,HOGAR,Nombre del producto,Forma de obtenciÃ³n de producto,Frecuencia de compra,Precio,Cantidad comprada (unidad de medida),Lugar de compra,Codigo de producto
0,5030,8,11,Pan Corriente o comÃºn,Comprado,2,150.000000,2,6,110091
1,5030,8,11,TOSTADAS INTEGRALES A GRA,Comprado,4,0.370000,9,4,110087
2,5030,8,11,Arroz Corriente a Granel,Comprado,2,1.000000,9,6,110100
3,5030,8,11,Papa Blanca,Comprado,3,1.000000,9,6,110915
4,5030,8,11,Papa Amarilla,Comprado,3,0.500000,9,6,110913
5,5030,8,11,Azucar Rubia,Comprado,3,2.000000,9,6,111004
6,5030,8,11,Huevos a Granel de Gallin,Comprado,3,0.360000,9,6,110526
7,5030,8,11,HUEVO DE GALLINA DE CORRA,Otro,4,200.760105,2,11,110534
8,5030,8,11,Pollo Eviscerado,Comprado,10,0.500000,9,6,110235
9,5030,8,11,Menudencia de Pollo,Comprado,3,0.250000,9,6,110237

In [ ]:
df3.shape

(1759159, 10)

In [ ]:
df_final = merged_df.merge(df3, on=['CONGLOME', 'VIVIENDA', 'HOGAR'], how='inner')

In [ ]:
df_final.shape

(4778093, 48)

In [ ]:
df_final.columns

Index(['AÑO', 'MES_x', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO_x',
       'DOMINIO_x', 'TRABAJÓ_SEM_ANTERIOR', 'EMPLEO_FIJO_A_VOLVER',
       'RAZÓN_NO_TRABAJÓ', 'LABOR_QUE_DESEMPEÑA', 'REGISTRO_EMPRESA',
       'TIPO_CONTRATO', 'HORAS_TRABAJO_SEM_ANTERIOR', 'TIEMPO_TRABAJO_AÑOS',
       'TUVO_OTRO_TRABAJO', 'BUSCA_TRABAJO', 'FRECUENCIA_PAGO',
       'GANANCIA_NETA', 'GASTO_EN_ PRODUCTOS',
       'LABOR_DESEMPEÑO_TRABAJO_ANTERIOR', 'SEXO', 'EDAD', 'ESTADO_CIVIL',
       'GRADO_DE_INSTRUCCION', 'ESTRATO', 'TIPO_VIVIENDA', 'MATERIAL_PAREDES',
       'NUM_HABITACIONES', 'ESTADO', 'AGUA', 'ACCESO_AGUA', 'TIENE_TELEFONO',
       'TIENE_CELULAR', 'TIENE_TV', 'TIENE_INTERNET',
       'SIN_SERVICIOS_HIGIENICOS', 'NIÃOS_NO_COLEGIO', 'LONGITUD', 'LATITUD',
       'Nombre del producto', 'Forma de obtenciÃ³n de producto',
       'Frecuencia de compra', 'Precio',
       'Cantidad comprada (unidad de medida)', 'Lugar de compra',
       'Codigo de producto'],
      dtype='object')

In [ ]:
# Corregir nombres de columnas
df_final.rename(columns={
    'NIÃOS_NO_COLEGIO': 'NIÑOS_NO_COLEGIO',
    'Forma de obtenciÃ³n de producto': 'Forma de obtención de producto',
    'MES_x': 'MES',
    'UBIGEO_x': 'UBIGEO',
    'DOMINIO_x': 'DOMINIO'
}, inplace=True)

In [ ]:
df_final.columns = df_final.columns.str.upper()

In [ ]:
df_final.columns

Index(['AÑO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'TRABAJÓ_SEM_ANTERIOR', 'EMPLEO_FIJO_A_VOLVER',
       'RAZÓN_NO_TRABAJÓ', 'LABOR_QUE_DESEMPEÑA', 'REGISTRO_EMPRESA',
       'TIPO_CONTRATO', 'HORAS_TRABAJO_SEM_ANTERIOR', 'TIEMPO_TRABAJO_AÑOS',
       'TUVO_OTRO_TRABAJO', 'BUSCA_TRABAJO', 'FRECUENCIA_PAGO',
       'GANANCIA_NETA', 'GASTO_EN_ PRODUCTOS',
       'LABOR_DESEMPEÑO_TRABAJO_ANTERIOR', 'SEXO', 'EDAD', 'ESTADO_CIVIL',
       'GRADO_DE_INSTRUCCION', 'ESTRATO', 'TIPO_VIVIENDA', 'MATERIAL_PAREDES',
       'NUM_HABITACIONES', 'ESTADO', 'AGUA', 'ACCESO_AGUA', 'TIENE_TELEFONO',
       'TIENE_CELULAR', 'TIENE_TV', 'TIENE_INTERNET',
       'SIN_SERVICIOS_HIGIENICOS', 'NIÑOS_NO_COLEGIO', 'LONGITUD', 'LATITUD',
       'NOMBRE DEL PRODUCTO', 'FORMA DE OBTENCIÓN DE PRODUCTO',
       'FRECUENCIA DE COMPRA', 'PRECIO',
       'CANTIDAD COMPRADA (UNIDAD DE MEDIDA)', 'LUGAR DE COMPRA',
       'CODIGO DE PRODUCTO'],
      dtype='object')

In [ ]:
# Convertir las columnas a tipo numérico
df_final['GANANCIA_NETA'] = pd.to_numeric(df_final['GANANCIA_NETA'], errors='coerce')
df_final['GASTO_EN_ PRODUCTOS'] = pd.to_numeric(df_final['GASTO_EN_ PRODUCTOS'], errors='coerce')

# Reemplazar el valor 999999.00 con 0
df_final['GANANCIA_NETA'].replace(999999.00, 0, inplace=True)
df_final['GASTO_EN_ PRODUCTOS'].replace(999999.00, 0, inplace=True)

# Calcular el promedio de 'GASTO_EN_ PRODUCTOS' en base a 'GRADO_DE_INSTRUCCION', excluyendo los valores 0
mean_gasto_by_instruccion = df_final[df_final['GASTO_EN_ PRODUCTOS'] != 0].groupby('GRADO_DE_INSTRUCCION')['GASTO_EN_ PRODUCTOS'].mean()

# Función para reemplazar los valores 0 con el promedio correspondiente a su 'GRADO_DE_INSTRUCCION'
def replace_with_mean(row):
    if row['GASTO_EN_ PRODUCTOS'] == 0:
        return mean_gasto_by_instruccion[row['GRADO_DE_INSTRUCCION']]
    else:
        return row['GASTO_EN_ PRODUCTOS']

# Aplicar la función al DataFrame
df_final['GASTO_EN_ PRODUCTOS'] = df_final.apply(replace_with_mean, axis=1)

In [ ]:
# Convertir las columnas a tipo numérico
df_final['GANANCIA_NETA'] = pd.to_numeric(df_final['GANANCIA_NETA'], errors='coerce')
df_final['GASTO_EN_ PRODUCTOS'] = pd.to_numeric(df_final['GASTO_EN_ PRODUCTOS'], errors='coerce')

# Reemplazar el valor 999999.00 con 0
df_final['GANANCIA_NETA'].replace(999999.00, 0, inplace=True)
df_final['GASTO_EN_ PRODUCTOS'].replace(999999.00, 0, inplace=True)

# Calcular el promedio de 'GANANCIA_NETA' en base a 'GRADO_DE_INSTRUCCION', excluyendo los valores 0
mean_ganancia_by_instruccion = df_final[df_final['GANANCIA_NETA'] != 0].groupby('GRADO_DE_INSTRUCCION')['GANANCIA_NETA'].mean()

# Función para reemplazar los valores 0 en 'GANANCIA_NETA' con el promedio correspondiente a su 'GRADO_DE_INSTRUCCION'
def replace_with_mean_ganancia(row):
    if row['GANANCIA_NETA'] == 0:
        return mean_ganancia_by_instruccion[row['GRADO_DE_INSTRUCCION']]
    else:
        return row['GANANCIA_NETA']

# Aplicar la función al DataFrame para 'GANANCIA_NETA'
df_final['GANANCIA_NETA'] = df_final.apply(replace_with_mean_ganancia, axis=1)

In [ ]:
df_final['GASTO_EN_ PRODUCTOS'].max()

62626.18935801041

In [ ]:
df_final['GANANCIA_NETA'].max()

146314.81862209598

In [ ]:
df_final.to_csv('Dataset/Data_Set_Final.csv', index=False)

In [ ]:
cols_to_drop

['MES_x', 'UBIGEO_x', 'DOMINIO_x']

In [ ]:
df_final.columns

Index(['AÑO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'TRABAJÓ_SEM_ANTERIOR', 'EMPLEO_FIJO_A_VOLVER',
       'RAZÓN_NO_TRABAJÓ', 'LABOR_QUE_DESEMPEÑA', 'REGISTRO_EMPRESA',
       'TIPO_CONTRATO', 'HORAS_TRABAJO_SEM_ANTERIOR', 'TIEMPO_TRABAJO_AÑOS',
       'TUVO_OTRO_TRABAJO', 'BUSCA_TRABAJO', 'FRECUENCIA_PAGO',
       'GANANCIA_NETA', 'GASTO_EN_ PRODUCTOS',
       'LABOR_DESEMPEÑO_TRABAJO_ANTERIOR', 'SEXO', 'EDAD', 'ESTADO_CIVIL',
       'GRADO_DE_INSTRUCCION', 'ESTRATO', 'TIPO_VIVIENDA', 'MATERIAL_PAREDES',
       'NUM_HABITACIONES', 'ESTADO', 'AGUA', 'ACCESO_AGUA', 'TIENE_TELEFONO',
       'TIENE_CELULAR', 'TIENE_TV', 'TIENE_INTERNET',
       'SIN_SERVICIOS_HIGIENICOS', 'NIÑOS_NO_COLEGIO', 'LONGITUD', 'LATITUD',
       'NOMBRE DEL PRODUCTO', 'FORMA DE OBTENCIÓN DE PRODUCTO',
       'FRECUENCIA DE COMPRA', 'PRECIO',
       'CANTIDAD COMPRADA (UNIDAD DE MEDIDA)', 'LUGAR DE COMPRA',
       'CODIGO DE PRODUCTO'],
      dtype='object')